{
  "openapi": "3.0.3",
  "info": {
    "title": "Delphi Markets API",
    "description": "Welcome to Delphi Markets API\n\nThe Delphi Markets API provides unified access to prediction market data from **Kalshi (KLSI)** and **Polymarket (POLY)** exchanges.\n\nQuick Start:\n\n1. **Get a test API key** - Click on `POST /api/v1/test-key` below and hit 'Try it'\n2. **Copy your key** - Save the `api_key` from the response\n3. **Authorize** - Click 'Authorize' in the sidebar and paste your key\n4. **Start exploring** - Try any endpoint!\n\nWhat You Can Build:\n\n- **Trading Bots**: Access real-time orderbook data and trade history\n- **Market Analytics**: Analyze market movements, spreads, and liquidity\n- **Research Tools**: Search and filter across thousands of prediction markets\n- **Price Feeds**: Get live pricing data for any market\n\n---\n\nAuthentication:\n\nAll API requests require an API key passed in the `X-API-Key` header:\n\nExample request: GET `/api/v1/klsi/markets`\nHeader: X-API-Key: dphi_live_your_key_here\n\nGetting an API Key:\n\n| Type | Duration | Rate Limit | How to Get |\n|------|----------|------------|------------|\n| Test Key | 10 minutes | 60 req/min | `POST /api/v1/test-key` |\n| Production Key | Permanent | 300 req/min | Contact us |\n\n---\n\nRate Limits:\n\nRequests are rate-limited per API key:\n\n- **Test keys**: 60 requests per minute\n- **Production keys**: 300 requests per minute\n\nWhen you exceed the limit, you'll receive a `429 Too Many Requests` response. Wait and retry.\n\n---\n\nError Codes:\n\n| Code | Meaning |\n|------|---------------|\n| 400 | Bad Request - Invalid parameters |\n| 401 | Unauthorized - Missing or invalid API key |\n| 404 | Not Found - Resource doesn't exist |\n| 429 | Too Many Requests - Rate limit exceeded |\n| 500 | Server Error - Something went wrong |\n\nAll errors return JSON with an `error` field:\n\n{\"error\": \"invalid api key format\"}\n\n---\n\nSupport:\n\nFor production API keys or support, visit [delphimarkets.com](delphimarkets.com).",
    "version": "1.0.0",
    "contact": {
      "name": "Delphi Markets",
      "url": "https://delphimarkets.com"
    },
    "x-logo": {
      "url": "https://delphimarkets.com/logo.png"
    }
  },
  "servers": [
    {
      "url": "https://api.delphiterminal.co",
      "description": "Delphi Markets API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Getting Started",
      "description": "Start here to get a test API key and begin experimenting with the API. Test keys are valid for 10 minutes."
    },
    {
      "name": "Health",
      "description": "Health check endpoint to verify the API is operational."
    },
    {
      "name": "Auth",
      "description": "User authentication endpoints for creating accounts and managing sessions. Note: These are separate from API key authentication."
    },
    {
      "name": "Search",
      "description": "Search across all markets and events. Includes autocomplete suggestions for building search interfaces."
    },
    {
      "name": "Delphi",
      "description": "Cross-exchange market matching via Delphi IDs. Look up cluster metadata and find equivalent markets across all supported exchanges."
    },
    {
      "name": "Clusters",
      "description": "Cross-exchange market matching. Markets asking the same question across Kalshi, Polymarket, Limitless, and PFun are grouped into clusters. Use these endpoints to discover equivalent markets for arbitrage, hedging, and cross-exchange analytics."
    },
    {
      "name": "KLSI",
      "description": "Access Kalshi (KLSI) prediction market data including market details, orderbooks, trade history, and analytics. Kalshi is a US-regulated prediction market exchange."
    },
    {
      "name": "Polymarket",
      "description": "Access Polymarket (POLY) prediction market data including market details, orderbooks, and trade history. Polymarket is a decentralized prediction market platform."
    },
    {
      "name": "Limitless",
      "description": "Access Limitless exchange prediction market data including orderbooks. Limitless is a prediction market platform."
    },
    {
      "name": "Predict.fun",
      "description": "Access Predict.fun exchange prediction market data including price history."
    },
    {
      "name": "Opinion Labs",
      "description": "Access Opinion Labs prediction market data including market details, orderbooks, price history, and trade history."
    },
    {
      "name": "Gemini",
      "description": "Access Gemini prediction market data including market details, orderbooks, price history, and trade history."
    },
    {
      "name": "Manifold",
      "description": "Access Manifold prediction market data including market details, orderbooks, price history, and trade history."
    },
    {
      "name": "ForecastEx",
      "description": "Access ForecastEx prediction market data including market details and trade history."
    },
    {
      "name": "PredictIt",
      "description": "Access PredictIt prediction market data including market details and price history."
    },
    {
      "name": "Events",
      "description": "Events group related markets together. Use these endpoints to browse events by category or find all markets within an event."
    },
    {
      "name": "Candles",
      "description": "OHLCV (Open, High, Low, Close, Volume) candle data across exchanges. Supports multiple time intervals: 1s, 1m, 5m, 10m, 1h, 1d. Currently available for Kalshi (KLSI) with more exchanges coming soon."
    },
    {
      "name": "Advanced Analytics",
      "description": "Advanced orderbook analytics and price data. These endpoints provide deeper market insights including historical spreads, liquidity metrics, and best quote time series."
    },
    {
      "name": "Trading",
      "description": "Place, query, and cancel orders across all supported prediction-market exchanges (Polymarket, Kalshi, Opinion Labs, Gemini, Limitless, Predict.fun).\n\n**Important — client-side signing required for on-chain exchanges.** Polymarket, Opinion Labs, Limitless, and Predict.fun use EIP-712 signed orders. The signature must be produced on your machine using your private key — the Delphi server never has access to it. Use the `@delphimarkets/sdk` `build*Order()` helpers to construct a valid `signed_order` payload. Raw HTTP calls to `POST /orders` will be rejected by the exchange unless `signed_order` contains a valid signature."
    },
    {
      "name": "Credentials",
      "description": "Register and inspect your stored exchange credentials. Each user has at most one credential set per exchange. Credentials are encrypted at rest and used by the server when forwarding orders to centralized exchanges (Kalshi, Gemini) or for credential-derivation flows (Polymarket)."
    },
    {
      "name": "Polymarket Onboarding",
      "description": "One-time helpers for Polymarket: derive CLOB HMAC credentials from an EOA private key, verify stored credentials are still valid, and look up the Gnosis Safe (proxy) address for an EOA. Use these once per user before placing your first Polymarket order."
    }
  ],
  "paths": {
    "/api/v1/test-key": {
      "post": {
        "tags": [
          "Getting Started"
        ],
        "summary": "Get a Test API Key",
        "description": "**Start here!** Create a temporary API key valid for 10 minutes. Use this to test the API endpoints.\n\n1. Click 'Try it out' then 'Execute'\n2. Copy the `api_key` from the response\n3. Click the 'Authorize' button at the top of the page\n4. Paste your key in the 'Value' field for ApiKeyAuth\n5. Click 'Authorize' then 'Close'\n\nYou can now test all the protected endpoints!",
        "security": [],
        "responses": {
          "200": {
            "description": "Test API key created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "string",
                      "description": "Your temporary API key - copy this!",
                      "example": "dphi_live_a1b2c3d4..."
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "expires_in": {
                      "type": "string",
                      "example": "10 minutes"
                    },
                    "message": {
                      "type": "string",
                      "example": "Copy this API key and use it in the Authorize button above."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health Check",
        "description": "Verify that the API is running and responsive. This endpoint does not require authentication and can be used for monitoring and uptime checks.\n\n## Use cases\n- Monitor API availability\n- Load balancer health checks\n- Verify connectivity before making authenticated requests",
        "security": [],
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    },
                    "service": {
                      "type": "string",
                      "example": "delphi-terminal-api"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/signup": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Sign up",
        "description": "Create a new user account\n\n## Example\n\n- Request: `POST /api/v1/auth/signup`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "user created"
                    },
                    "user_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login",
        "description": "Authenticate and receive a session token\n\n## Example\n\n- Request: `POST /api/v1/auth/login`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get current user",
        "description": "Get authenticated user info\n\n## Example\n\n- Request: `GET /api/v1/auth/me`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "security": [],
        "responses": {
          "200": {
            "description": "User info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Logout",
        "description": "Invalidate the current session\n\n## Example\n\n- Request: `POST /api/v1/auth/logout`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "security": [],
        "responses": {
          "200": {
            "description": "Logged out",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "logged out successfully"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/events/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search All Markets",
        "description": "Search across **all markets from all four exchanges** (Kalshi, Polymarket, Limitless, Predict.fun) by title or question. Returns up to 250 results per exchange (1,000 total), ranked by relevance.\n\nThe search queries the full market database \u2014 not just a cached subset \u2014 so every market across all exchanges is searchable.\n\nExample Queries:\n\n- `bitcoin` - Find Bitcoin-related markets across all exchanges\n- `election 2026` - Find election markets\n- `fed rate` - Find Federal Reserve interest rate markets\n- `super bowl` - Find sports markets\n\nFiltering:\n\nCombine search with category filter:\n\n- Request: `GET /api/v1/events/search?q=bitcoin&category=Crypto`\n- Header: `X-API-Key: YOUR_API_KEY`\n\nResponse:\n\nEach result includes:\n- **type**: Which exchange the market belongs to (`kalshi`, `poly`, `limitless`, `pfun`)\n- **market_id**: The market identifier (also available as `klsi_id` or `poly_id` for their respective exchanges)\n- **title**: The market title or question\n- **category**: The market category\n\nAvailable Categories:\n\nClimate and Weather, Companies, Crypto, Economics, Elections, Entertainment, Financials, Politics, Science and Technology, Sports, and more.\n\n## Example\n\n- Request: `GET /api/v1/events/search?q=bitcoin`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2
            },
            "description": "Search query (min 2 characters)",
            "example": "bitcoin"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by category (e.g., Crypto, Politics, Sports)"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of search results from all exchanges",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SearchResult"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/search/suggest": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Autocomplete Suggestions",
        "description": "Get autocomplete suggestions for a partial search query. Use this to build search-as-you-type interfaces.\n\n## What you get\n- Array of suggested search terms\n- Ranked by relevance and popularity\n\n## Use cases\n- Power search box autocomplete\n- Help users discover markets\n- Reduce typing errors\n\n## Example\n\n- Request: `GET /api/v1/search/suggest?q=bitcoin`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Partial search query (what the user has typed so far)",
            "example": "bit"
          }
        ],
        "responses": {
          "200": {
            "description": "Suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/search/markets": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search Delphi Markets",
        "description": "Search across all Delphi market clusters by keyword. Uses fuzzy multi-word matching where each word must appear somewhere in the title, but in any order.\n\nFor example, searching \"british minister\" will match titles like \"Will the British Prime Minister resign?\" even though the exact phrase does not appear.\n\n## What you get\n\n- Delphi market clusters matching your keywords\n- Each result includes the delphi_id, title, canonical exchange reference, cluster size, and last update time\n- Each result also includes a `markets` array listing the individual exchange markets (exchange name, market_id, title) so you can navigate directly to each market's detail endpoint\n- Results ranked by cluster size (most cross-exchange coverage first)\n\n## Exchange market references\n\nThe `markets` array in each result contains entries like:\n- `{ \"exchange\": \"kalshi\", \"market_id\": \"AMAZONFTC-29DEC31\", \"title\": \"...\" }`\n- `{ \"exchange\": \"polymarket\", \"market_id\": \"0xabc...\", \"title\": \"...\" }`\n\nUse these to construct detail endpoint URLs, e.g. `/api/v1/klsi/AMAZONFTC-29DEC31/market`\n\n## Use cases\n\n- Discover prediction markets across all exchanges by topic\n- Find equivalent markets for arbitrage or hedging\n- Power a market search interface with direct exchange links\n- Explore what questions prediction markets are tracking\n\n## Example\n\n- Request: `GET /api/v1/search/markets?q=bitcoin&limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search keywords. Multiple words are matched independently (all must appear in the title, in any order).",
            "example": "bitcoin"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "Maximum number of results to return (default 25, max 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Array of matching market clusters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnrichedMarketCluster"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (missing or too short)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/search/semantic": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Semantic Market Search",
        "description": "Search markets by meaning using AI-powered semantic search. Unlike keyword search, this understands natural language queries like \"will interest rates go down\" and finds relevant markets even if they use different wording.\n\nUses hybrid scoring that combines:\n- **Semantic similarity** — matches meaning using embeddings across both market titles and rules\n- **Keyword boost** — exact keyword matches in titles get a relevance boost\n\nSearches across all supported exchanges: Kalshi, Polymarket, Limitless, Predict.fun, Opinion Labs, Gemini, Manifold, ForecastEx, and PredictIt.\n\nRequires Max, Admin, or Enterprise plan.\n\n## Use cases\n\n- Find markets using natural language descriptions\n- Discover markets you wouldn't find with keyword search\n- Search by concept rather than exact market titles\n- Cross-exchange market discovery by topic\n\n## Example\n\n- Request: `POST /api/v1/search/semantic`\n- Header: `X-API-Key: YOUR_API_KEY`\n- Body: `{\"query\": \"fed rate cuts by summer\", \"active_only\": true, \"limit\": 10}`",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query"],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Natural language search query.",
                    "example": "fed rate cuts by summer"
                  },
                  "exchange": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": ["kalshi", "polymarket", "limitless", "predictfun", "opinion", "gemini", "manifold", "forecastex", "predictit"]
                    },
                    "description": "Filter to specific exchanges. If omitted, searches all exchanges."
                  },
                  "active_only": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, only returns markets that are not closed."
                  },
                  "category": {
                    "type": "string",
                    "description": "Filter to a specific category (e.g., Politics, Crypto, Sports)."
                  },
                  "limit": {
                    "type": "integer",
                    "default": 20,
                    "maximum": 100,
                    "description": "Maximum number of results to return."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ranked search results with similarity scores",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "string",
                      "description": "The original search query."
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of results returned."
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "market_id": {
                            "type": "string",
                            "description": "Exchange-specific market identifier."
                          },
                          "exchange": {
                            "type": "string",
                            "description": "Exchange name."
                          },
                          "title": {
                            "type": "string",
                            "description": "Market title."
                          },
                          "category": {
                            "type": "string",
                            "description": "Market category."
                          },
                          "closed": {
                            "type": "boolean",
                            "description": "Whether the market is closed."
                          },
                          "score": {
                            "type": "number",
                            "description": "Similarity score (lower is more relevant). Combines semantic similarity and keyword match boost."
                          },
                          "delphi_id": {
                            "type": "string",
                            "description": "Delphi cross-exchange cluster ID, if available."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (missing query)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Plan does not have access (requires Max or above)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/delphi/{delphi_id}/cluster": {
      "get": {
        "tags": [
          "Delphi"
        ],
        "summary": "Get Market Cluster Info",
        "description": "Retrieve cluster metadata for a given Delphi ID. Returns the cluster title, canonical reference, size (number of matched markets), and last update time.\n\nRequires Pro, Max, or Admin plan.\n\n## Use cases\n\n- Look up what question a cluster of markets represents\n- Check how many exchanges carry the same market\n- Get canonical reference for a matched market group\n\n## Example\n\n- Request: `GET /api/v1/delphi/delphi_0016d5d59aae/cluster`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "delphi_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Delphi ID for cross-exchange market matching",
            "example": "delphi_0016d5d59aae"
          }
        ],
        "responses": {
          "200": {
            "description": "Cluster metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketCluster"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/delphi/{delphi_id}/markets": {
      "get": {
        "tags": [
          "Delphi"
        ],
        "summary": "Get Matched Markets Across Exchanges",
        "description": "Given a Delphi ID, returns all markets across Kalshi, Polymarket, Limitless, Predict.fun, Opinion Labs, Gemini, Manifold, ForecastEx, and PredictIt that share the same Delphi ID. Use this to discover equivalent markets on different exchanges for arbitrage, hedging, and cross-exchange analysis.\n\nRequires Pro, Max, or Admin plan.\n\n## Use cases\n\n- Find the same market question across all supported exchanges\n- Compare pricing and liquidity for the same event on different platforms\n- Build cross-exchange trading strategies\n\n## Example\n\n- Request: `GET /api/v1/delphi/delphi_0016d5d59aae/markets`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "delphi_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Delphi ID for cross-exchange market matching",
            "example": "delphi_0016d5d59aae"
          }
        ],
        "responses": {
          "200": {
            "description": "Matched markets grouped by exchange",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "delphi_id": {
                      "type": "string",
                      "description": "The queried Delphi ID"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of matched markets across all exchanges"
                    },
                    "kalshi": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MatchedMarket"
                      },
                      "description": "Matched Kalshi markets"
                    },
                    "polymarket": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MatchedMarket"
                      },
                      "description": "Matched Polymarket markets"
                    },
                    "limitless": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MatchedMarket"
                      },
                      "description": "Matched Limitless markets"
                    },
                    "pfun": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MatchedMarket"
                      },
                      "description": "Matched Predict.fun markets"
                    },
                    "opinion": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MatchedMarket"
                      },
                      "description": "Matched Opinion Labs markets"
                    },
                    "gemini": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MatchedMarket"
                      },
                      "description": "Matched Gemini markets"
                    },
                    "manifold": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MatchedMarket"
                      },
                      "description": "Matched Manifold markets"
                    },
                    "forecastex": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MatchedMarket"
                      },
                      "description": "Matched ForecastEx markets"
                    },
                    "predictit": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MatchedMarket"
                      },
                      "description": "Matched PredictIt markets"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/clusters/{cluster_id}": {
      "get": {
        "tags": [
          "Clusters"
        ],
        "summary": "Get Cluster by ID",
        "description": "Retrieve all markets in a cross-exchange cluster and any siamese-twin relationships to other clusters.\n\nA cluster groups markets from different exchanges that ask essentially the same question. Each member has a `joined_via` label:\n- `exact` -- identical question and resolution criteria\n- `resolution_variant` -- same question but minor resolution difference (e.g. different data source)\n- `seed` -- singleton, no cross-exchange matches found yet\n\nSiamese edges link clusters that cover the same event but ask substantively different questions (e.g. different price thresholds).\n\n## Use cases\n\n- Find the same market on multiple exchanges for arbitrage\n- Compare pricing across Kalshi, Polymarket, Limitless, and PFun\n- Discover related markets via siamese-twin links\n- Build cross-exchange hedging strategies\n\n## Example\n\n- Request: `GET /api/v1/clusters/kalshi:KXTRUMP-28NOV03`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cluster ID (format: exchange:market_id of the lexicographically smallest member)",
            "example": "kalshi:KXTRUMP-28NOV03"
          }
        ],
        "responses": {
          "200": {
            "description": "Cluster members and siamese edges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/klsi/{klsi_id}/market": {
      "get": {
        "tags": [
          "KLSI"
        ],
        "summary": "Get KLSI Market Details",
        "description": "Retrieve comprehensive details about a specific Kalshi market by its unique identifier.\n\n## What you get\n- Market title and description\n- Trading rules and resolution criteria\n- Current status (open/closed)\n- Close time and settlement information\n- Category and event association\n\n## Use cases\n- Display market information in trading interfaces\n- Validate market exists before placing orders\n- Get resolution rules for analysis\n\n## Note The `klsi_id` follows Kalshi's ticker format (e.g., `KXBTC-26FEB01` for Bitcoin price markets).\n\n## Example\n\n- Request: `GET /api/v1/klsi/KXNCAAFTOTAL-25NOV29NDSTAN-41/market`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "$ref": "#/components/parameters/klsi_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Market details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KLSIMarket"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/klsi/{klsi_id}/rules": {
      "get": {
        "tags": [
          "KLSI"
        ],
        "summary": "Get KLSI Market Rules",
        "description": "Retrieve the resolution rules for a specific Kalshi market. Rules define exactly how and when a market will settle.\n\n## What you get\n- Complete resolution criteria\n- Data sources used for settlement\n- Edge case handling\n\n## Use cases\n- Understand how outcomes are determined\n- Build automated settlement tracking\n- Display rules in market detail pages\n\n## Example\n\n- Request: `GET /api/v1/klsi/KXNCAAFTOTAL-25NOV29NDSTAN-41/rules`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "$ref": "#/components/parameters/klsi_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Market rules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "klsi_id": {
                      "type": "string"
                    },
                    "rules": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/klsi/{klsi_id}/orderbook": {
      "get": {
        "tags": [
          "KLSI"
        ],
        "summary": "Get KLSI orderbook",
        "description": "Retrieve orderbook snapshots for a Kalshi market. The orderbook shows all open buy and sell orders at different price levels.\n\nUnderstanding the Response:\n\n- **bid_side**: Array of **101 values** representing buy order quantities at price levels from $0.00 to $1.00 in increments of $0.01 (1 cent). Index 0 = $0.00, index 1 = $0.01, ..., index 100 = $1.00.\n- **ask_side**: Array of **101 values** representing sell order quantities at the same price levels.\n- **snapshot_time**: When this orderbook snapshot was captured\n\nUse Cases:\n\n- Calculate best bid/ask prices and spreads\n- Analyze market depth and liquidity\n- Build real-time trading visualizations\n\n## Example\n\n- Request: `GET /api/v1/klsi/KXBTC-26FEB01/orderbook?limit=100`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "$ref": "#/components/parameters/klsi_id"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Orderbook snapshots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderbookSnapshot"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/klsi/{klsi_id}/tradehistory": {
      "get": {
        "tags": [
          "KLSI"
        ],
        "summary": "Get KLSI Trade History",
        "description": "Retrieve historical trade executions for a Kalshi market. Each trade includes price, quantity, and whether it was a buy or sell.\n\n## What you get\n- Trade timestamp and unique ID\n- Execution price (yes_price and no_price)\n- Trade count (number of contracts)\n- Taker side (buy/sell)\n\n## Use cases\n- Analyze trading patterns and volume\n- Calculate VWAP (Volume Weighted Average Price)\n- Build price charts and candlesticks\n- Detect unusual trading activity\n\n## Note Trade history is ordered by time, newest first.\n\n## Example\n\n- Request: `GET /api/v1/klsi/KXNCAAFTOTAL-25NOV29NDSTAN-41/tradehistory`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "$ref": "#/components/parameters/klsi_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Trade history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KLSITrade"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/klsi/{klsi_id}/orderbook_analytics": {
      "get": {
        "tags": [
          "KLSI"
        ],
        "summary": "Get KLSI Orderbook Analytics",
        "description": "Retrieve pre-computed analytics derived from orderbook snapshots. This provides processed metrics that save you from computing them yourself.\n\n## What you get\n- Time-series orderbook metrics\n- Aggregated depth and liquidity data\n- Spread and imbalance indicators\n\n## Use cases\n- Track liquidity changes over time\n- Identify optimal entry/exit points\n- Build market quality dashboards\n\n## Example\n\n- Request: `GET /api/v1/klsi/KXNCAAFTOTAL-25NOV29NDSTAN-41/orderbook_analytics?limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "$ref": "#/components/parameters/klsi_id"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Orderbook analytics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/klsi/{klsi_id}/orderbook_analytics/best_quotes": {
      "get": {
        "tags": [
          "KLSI"
        ],
        "summary": "Get KLSI Best Bid/Ask Series",
        "description": "Retrieve a time-series of best bid and best ask prices for a market. This is the most efficient way to get price history without processing full orderbooks.\n\n## What you get\n- Best bid price over time\n- Best ask price over time\n- Mid-price calculations\n- Spread history\n\n## Use cases\n- Build price charts\n- Calculate historical spreads\n- Analyze price movements\n- Backtest trading strategies\n\n## Example\n\n- Request: `GET /api/v1/klsi/KXNCAAFTOTAL-25NOV29NDSTAN-41/orderbook_analytics/best_quotes?limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "$ref": "#/components/parameters/klsi_id"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Best quotes series",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/klsi/event/{event_id}": {
      "get": {
        "tags": [
          "KLSI"
        ],
        "summary": "Get KLSI Event",
        "description": "Retrieve event details for a Kalshi event. Events group related markets together (e.g., all Bitcoin price markets for a specific date).\n\n## What you get\n- Event title and category\n- Associated market identifiers\n- Strike date information\n- Cross-exchange mapping (if available on Polymarket)\n\n## Use cases\n- Navigate between related markets\n- Build event-based views\n- Compare across exchanges\n\n## Example\n\n- Request: `GET /api/v1/klsi/event/KXBTC-25NOV2717`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "$ref": "#/components/parameters/event_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Event details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/klsi/event/{event_id}/markets": {
      "get": {
        "tags": [
          "KLSI"
        ],
        "summary": "Get All Markets in KLSI Event",
        "description": "Retrieve all individual markets within a Kalshi event. For example, a Bitcoin price event may contain multiple strike price markets.\n\n## What you get\n- Array of all markets in the event\n- Full market details for each\n- Status and pricing info\n\n## Use cases\n- Display all strike prices for an event\n- Build multi-market trading views\n- Analyze the full market structure\n\n## Example\n\n- Request: `GET /api/v1/klsi/event/KXBTC-25NOV2717/markets`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "$ref": "#/components/parameters/event_id"
          }
        ],
        "responses": {
          "200": {
            "description": "List of markets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KLSIMarket"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/klsi/{klsi_id}/top_of_book": {
      "get": {
        "tags": [
          "KLSI"
        ],
        "summary": "Get KLSI Top of Book",
        "description": "Retrieve top-of-book best bid/ask data for a Kalshi market, including the top 5 price levels on each side.\n\n## What you get\n- Best bid and ask prices\n- Top 5 bid and ask price levels with sizes\n- Venue market ID\n- Timestamps\n\n## Use cases\n- Monitor real-time best quotes\n- Track top-of-book depth\n- Build spread analytics\n\n## Example\n\n- Request: `GET /api/v1/klsi/AMAZONFTC-29DEC31/top_of_book`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "klsi_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Kalshi market ID",
            "example": "AMAZONFTC-29DEC31"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Top of book data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TopOfBookKLSI"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/klsi/{klsi_id}/raw_deltas": {
      "get": {
        "tags": [
          "KLSI"
        ],
        "summary": "Get KLSI Raw Orderbook Deltas",
        "description": "Retrieve raw orderbook delta data for a Kalshi market. Each row represents a single orderbook change event with the price level, size delta, and side.\n\n## What you get\n- Price level and size delta for each change\n- Bid/ask side indicator\n- Server and ingest timestamps for precise event ordering\n- Venue and exchange identifiers\n\n## Use cases\n- Reconstruct full orderbook history tick-by-tick\n- Analyze order flow and liquidity dynamics\n- Build high-frequency trading signals\n- Study market microstructure\n\n## Example\n\n- Request: `GET /api/v1/klsi/AMAZONFTC-29DEC31/raw_deltas?limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "klsi_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Kalshi market ID",
            "example": "AMAZONFTC-29DEC31"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Raw orderbook delta data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RawDeltaKLSI"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/klsi/markets": {
      "get": {
        "tags": [
          "KLSI"
        ],
        "summary": "List all KLSI markets",
        "description": "Retrieve a paginated list of all Kalshi markets, ordered by close time (newest first).\n\n## Pagination\n\nUse `limit` and `offset` to paginate through results:\n\nUse the limit and offset query parameters to paginate. Start with offset=0 and increment by your limit value until the response returns an empty list.\n\nResponse Fields:\n\nEach market includes:\n- **klsi_id**: Unique Kalshi market identifier\n- **title**: Human-readable market title\n- **close_time**: When the market closes for trading\n- **closed**: Whether the market has already closed\n- **rules**: Resolution criteria\n\n## Example\n\n- Request: `GET /api/v1/klsi/markets?limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            },
            "description": "Maximum number of markets to return (default: 100, max: 1000)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of markets to skip for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of KLSI markets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KLSIMarket"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of markets returned"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/klsi/markets/category/{category}": {
      "get": {
        "tags": [
          "KLSI"
        ],
        "summary": "Get KLSI Markets by Category",
        "description": "Retrieve all Kalshi markets for a specific category.\n\n## Available categories\n- Crypto, Economics, Elections, Politics\n- Sports, Entertainment, Companies\n- Climate and Weather, Science and Technology\n- And more\n\n## Use cases\n- Build category-filtered market views\n- Display markets by topic\n- Power category navigation\n\n## Example\n\n- Request: `GET /api/v1/klsi/markets/category/Crypto?limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Category name",
            "example": "Crypto"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            },
            "description": "Maximum number of markets to return (default: 100, max: 1000)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of markets to skip for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of KLSI markets in the category",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KLSIMarket"
                      }
                    },
                    "count": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "category": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/klsi/markets/categories": {
      "get": {
        "tags": [
          "KLSI"
        ],
        "summary": "Get KLSI Markets by Multiple Categories",
        "description": "Retrieve all Kalshi markets for multiple categories at once.\n\n## Example\n\n- Request: `GET /api/v1/klsi/markets/categories?categories=Crypto,Sports`\n- Header: `X-API-Key: YOUR_API_KEY`\n\n## Use cases\n- Build multi-category market views\n- Cross-category analysis\n- Custom category groupings",
        "parameters": [
          {
            "name": "categories",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of categories",
            "example": "Crypto,Sports,Politics"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            },
            "description": "Maximum number of markets to return (default: 100, max: 1000)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of markets to skip for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of KLSI markets in the specified categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KLSIMarket"
                      }
                    },
                    "count": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/klsi/{klsi_id}/prices": {
      "get": {
        "tags": [
          "KLSI"
        ],
        "summary": "Get KLSI Price History",
        "description": "Retrieve historical price data for a Kalshi market.\n\n## What you get\n- Price time series with timestamps\n- Yes/No bid and ask prices\n- Trading volume\n- Open interest\n\n## Use cases\n- Build price charts\n- Analyze historical trends\n- Track market sentiment over time\n\n## Example\n\n- Request: `GET /api/v1/klsi/KXNCAAFTOTAL-25NOV29NDSTAN-41/prices?limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "$ref": "#/components/parameters/klsi_id"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Maximum number of price points to return (default: 10 in docs, no max limit)"
          }
        ],
        "responses": {
          "200": {
            "description": "Price history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PricePoint"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/klsi/{klsi_id}/cluster": {
      "get": {
        "tags": [
          "KLSI"
        ],
        "summary": "Get Cluster for Kalshi Market",
        "description": "Find all cross-exchange matches for a Kalshi market. Looks up which cluster this market belongs to and returns all members plus siamese-twin links.\n\n## Use cases\n\n- See if a Kalshi market is also listed on Polymarket, Limitless, or PFun\n- Compare prices across exchanges for the same event\n- Identify arbitrage opportunities\n\n## Example\n\n- Request: `GET /api/v1/klsi/KXTRUMP-28NOV03/cluster`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "$ref": "#/components/parameters/klsi_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Cluster members and siamese edges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/poly/{poly_id}/market": {
      "get": {
        "tags": [
          "Polymarket"
        ],
        "summary": "Get Polymarket Market Details",
        "description": "Retrieve comprehensive details about a specific Polymarket market.\n\n## What you get\n- Market title and description\n- Resolution rules\n- Current status (active/resolved)\n- End date and settlement info\n- Condition ID (needed for orderbook/trades)\n- Category and event association\n\n## Use cases\n- Display market information\n- Get condition_id for orderbook queries\n- Check resolution criteria\n\n## Note Polymarket uses `poly_id` for market lookup, but orderbook/trade endpoints require the `condition_id` (hex string starting with `0x`).\n\n## Example\n\n- Request: `GET /api/v1/poly/1275563/market`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "$ref": "#/components/parameters/poly_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Market details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolyMarket"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/poly/{poly_id}/rules": {
      "get": {
        "tags": [
          "Polymarket"
        ],
        "summary": "Get Polymarket Resolution Rules",
        "description": "Retrieve the resolution rules for a Polymarket market. Rules define how the market will be settled.\n\n## What you get\n- Full resolution criteria text\n- Data sources and settlement conditions\n\n## Use cases\n- Understand how outcomes are determined\n- Display rules in market interfaces\n- Assess market risk\n\n## Example\n\n- Request: `GET /api/v1/poly/1275563/rules`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "$ref": "#/components/parameters/poly_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Market rules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "poly_id": {
                      "type": "string"
                    },
                    "rules": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/poly/{poly_id}/top_of_book": {
      "get": {
        "tags": [
          "Polymarket"
        ],
        "summary": "Get Polymarket Top of Book",
        "description": "Retrieve top-of-book best bid/ask data for a Polymarket market, including the top 5 price levels on each side.\n\n## What you get\n- Best bid and ask prices\n- Top 5 bid and ask price levels with sizes\n- Token ID and market ID\n- Timestamps\n\n## Use cases\n- Monitor real-time best quotes\n- Track top-of-book depth\n- Build spread analytics\n\n## Example\n\n- Request: `GET /api/v1/poly/0x0430a1879133a6416efe8c2076190336b8665abf9b67c45dadfc312ab7b413e6/top_of_book?limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "poly_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Polymarket condition ID",
            "example": "0x0430a1879133a6416efe8c2076190336b8665abf9b67c45dadfc312ab7b413e6"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Top of book data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TopOfBookPoly"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/poly/{poly_id}/raw_deltas": {
      "get": {
        "tags": [
          "Polymarket"
        ],
        "summary": "Get Polymarket Raw Orderbook Deltas",
        "description": "Retrieve raw orderbook delta data for a Polymarket market. Each row represents either a single orderbook change event (delta) or a full orderbook snapshot, identified by the `payload_type` field.\n\n## What you get\n- For deltas: price, size delta, and side of the change\n- For snapshots: full bid and ask price/size arrays\n- Outcome label resolved from the token ID\n- Server and ingest timestamps\n\n## Use cases\n- Reconstruct full orderbook history tick-by-tick\n- Analyze order flow and liquidity dynamics\n- Build high-frequency trading signals\n- Study market microstructure\n\n## Example\n\n- Request: `GET /api/v1/poly/0xb09a659b55f0eab385d75ef14d180e9a6b2f02290a427504e38bf803e35d25d6/raw_deltas?limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "poly_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Polymarket condition ID",
            "example": "0xb09a659b55f0eab385d75ef14d180e9a6b2f02290a427504e38bf803e35d25d6"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Raw orderbook delta data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RawDeltaPoly"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/poly/{poly_id}/orderbook": {
      "get": {
        "tags": [
          "Polymarket"
        ],
        "summary": "Get Polymarket Orderbook",
        "description": "Retrieve historical orderbook snapshots for a Polymarket market. Each snapshot shows the full order depth at a point in time.\n\n## What you get\n- **token_id**: The token identifier for this orderbook side\n- **outcome**: The outcome label for this token (e.g., \"Yes\", \"No\", or a named outcome like \"EDward Gaming\")\n- **bid_side**: Array of **1001 values** representing buy order quantities at price levels from $0.000 to $1.000 in increments of $0.001 (0.1 cents). Index 0 = $0.000, index 1 = $0.001, ..., index 1000 = $1.000.\n- **ask_side**: Array of **1001 values** representing sell order quantities at the same price levels.\n- Snapshot timestamps\n- Market identifier\n\n## Important This endpoint requires the `condition_id` (hex string starting with `0x`), NOT the standard `poly_id`. Get the condition_id from the market details endpoint first.\n\n## Use cases\n- Analyze historical liquidity\n- Build depth charts\n- Calculate spreads over time\n- Backtest trading strategies\n\n## Example\n\n- Request: `GET /api/v1/poly/0x00000977017fa72fb6b1908ae694000d3b51f442c2552656b10bdbbfd16ff707/orderbook?limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "$ref": "#/components/parameters/condition_id"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Maximum number of snapshots to return (default: 10 in docs, no max limit)"
          }
        ],
        "responses": {
          "200": {
            "description": "Orderbook snapshots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PolyOrderbookSnapshot"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/poly/{poly_id}/tradehistory": {
      "get": {
        "tags": [
          "Polymarket"
        ],
        "summary": "Get Polymarket Trade History",
        "description": "Retrieve historical trades for a Polymarket market. Each trade includes execution details.\n\n## What you get\n- Trade price and size\n- Token ID (identifies YES/NO outcome)\n- **outcome**: The outcome label for this token (e.g., \"Yes\", \"No\", or a named outcome like \"EDward Gaming\")\n- Side (buy/sell)\n- Timestamp\n\n## Important This endpoint requires the `condition_id` (hex string starting with `0x`), NOT the standard `poly_id`.\n\n## Use cases\n- Analyze trading volume\n- Track price movements\n- Calculate VWAP\n- Build candlestick charts\n\n## Example\n\n- Request: `GET /api/v1/poly/0x00000977017fa72fb6b1908ae694000d3b51f442c2552656b10bdbbfd16ff707/tradehistory?limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "$ref": "#/components/parameters/condition_id"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Maximum number of trades to return (default: 10 in docs, no max limit)"
          }
        ],
        "responses": {
          "200": {
            "description": "Trade history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PolyTrade"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/poly/{poly_id}/prices": {
      "get": {
        "tags": [
          "Polymarket"
        ],
        "summary": "Get Polymarket Price History",
        "description": "Retrieve price history for a Polymarket market. Each record shows the price at a point in time derived from trades.\n\n## What you get\n- Exchange identifier\n- Condition ID (market identifier)\n- **token_id**: The token identifier for this price point\n- **outcome**: The outcome label for this token (e.g., \"Yes\", \"No\", or a named outcome like \"EDward Gaming\")\n- Price (as decimal, e.g., 0.992 = 99.2%)\n- Timestamp\n\n## Important This endpoint requires the `condition_id` (hex string starting with `0x`), NOT the standard `poly_id`.\n\n## Use cases\n- Build price charts\n- Analyze price movements over time\n- Track market sentiment\n- Backtest trading strategies\n\n## Example\n\n- Request: `GET /api/v1/poly/0x00000977017fa72fb6b1908ae694000d3b51f442c2552656b10bdbbfd16ff707/prices?limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "$ref": "#/components/parameters/condition_id"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Maximum number of price points to return (default: 10 in docs, no max limit)"
          }
        ],
        "responses": {
          "200": {
            "description": "Price history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PolyPricePoint"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/poly/{poly_id}/event": {
      "get": {
        "tags": [
          "Polymarket"
        ],
        "summary": "Get Polymarket Event",
        "description": "Retrieve event details for a Polymarket event. Events group related markets together.\n\n## What you get\n- Event title and category\n- Associated market identifiers\n- Cross-exchange mapping (Kalshi ID if available)\n\n## Use cases\n- Navigate related markets\n- Compare prices across exchanges\n- Build event-centric views\n\n## Example\n\n- Request: `GET /api/v1/poly/1275563/event`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "$ref": "#/components/parameters/poly_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Event details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/poly/event/{event_id}/markets": {
      "get": {
        "tags": [
          "Polymarket"
        ],
        "summary": "Get All Markets in Polymarket Event",
        "description": "Retrieve all individual markets within a Polymarket event.\n\n## What you get\n- Array of all markets in the event\n- Full market details including condition_id\n- Status and end dates\n\n## Use cases\n- Display all outcomes for an event\n- Build multi-market views\n- Get condition_ids for orderbook queries\n\n## Example\n\n- Request: `GET /api/v1/poly/event/KXBTC-25NOV2717/markets`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "$ref": "#/components/parameters/event_id"
          }
        ],
        "responses": {
          "200": {
            "description": "List of markets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PolyMarket"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/poly/markets": {
      "get": {
        "tags": [
          "Polymarket"
        ],
        "summary": "List All Polymarket Markets",
        "description": "Retrieve a paginated list of all Polymarket markets, ordered by end date (newest first).\n\n## What you get\n- Market details including condition_id\n- Title, rules, and status\n- Pagination metadata\n\n## Use cases\n- Browse all available markets\n- Build market discovery features\n- Sync market data to your database\n\n## Pagination Use `limit` and `offset` parameters to page through results.\n\n## Example\n\n- Request: `GET /api/v1/poly/markets?limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            },
            "description": "Maximum number of markets to return (default: 100, max: 1000)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of markets to skip for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Polymarket markets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PolyMarket"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of markets returned"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/poly/markets/category/{category}": {
      "get": {
        "tags": [
          "Polymarket"
        ],
        "summary": "Get Polymarket Markets by Category",
        "description": "Retrieve all Polymarket markets for a specific category.\n\n## Available categories\n- Crypto, Economics, Elections, Politics\n- Sports, Entertainment, Companies\n- Climate and Weather, Science and Technology\n- And more\n\n## Use cases\n- Build category-filtered market views\n- Display markets by topic\n- Power category navigation\n\n## Example\n\n- Request: `GET /api/v1/poly/markets/category/Crypto?limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Category name",
            "example": "Crypto"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            },
            "description": "Maximum number of markets to return (default: 100, max: 1000)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of markets to skip for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Polymarket markets in the category",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PolyMarket"
                      }
                    },
                    "count": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "category": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/poly/markets/categories": {
      "get": {
        "tags": [
          "Polymarket"
        ],
        "summary": "Get Polymarket Markets by Multiple Categories",
        "description": "Retrieve all Polymarket markets for multiple categories at once.\n\n## Example\n\n- Request: `GET /api/v1/poly/markets/categories?categories=Crypto,Sports`\n- Header: `X-API-Key: YOUR_API_KEY`\n\n## Use cases\n- Build multi-category market views\n- Cross-category analysis\n- Custom category groupings",
        "parameters": [
          {
            "name": "categories",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of categories",
            "example": "Crypto,Sports,Politics"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            },
            "description": "Maximum number of markets to return (default: 100, max: 1000)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of markets to skip for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Polymarket markets in the specified categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PolyMarket"
                      }
                    },
                    "count": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/poly/{poly_id}/cluster": {
      "get": {
        "tags": [
          "Polymarket"
        ],
        "summary": "Get Cluster for Polymarket Market",
        "description": "Find all cross-exchange matches for a Polymarket market. Looks up which cluster this market belongs to and returns all members plus siamese-twin links.\n\n## Use cases\n\n- See if a Polymarket market is also listed on Kalshi, Limitless, or PFun\n- Compare prices across exchanges for the same event\n- Identify arbitrage opportunities\n\n## Example\n\n- Request: `GET /api/v1/poly/0xabc123/cluster`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "$ref": "#/components/parameters/poly_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Cluster members and siamese edges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/limitless/{market_id}/top_of_book": {
      "get": {
        "tags": [
          "Limitless"
        ],
        "summary": "Get Limitless Top of Book",
        "description": "Retrieve top-of-book best bid/ask data for a Limitless market, including the top 5 price levels on each side.\n\n## What you get\n- Best bid and ask prices\n- Top 5 bid and ask price levels with sizes\n- Token ID and market ID\n- Timestamps\n\n## Use cases\n- Monitor real-time best quotes\n- Track top-of-book depth\n- Build spread analytics\n\n## Example\n\n- Request: `GET /api/v1/limitless/dollarbch-above-dollar56557-on-feb-18-1700-utc-1771347602997/top_of_book?limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "market_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Limitless market ID",
            "example": "dollarbch-above-dollar56557-on-feb-18-1700-utc-1771347602997"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Top of book data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TopOfBookLimitless"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/limitless/{market_id}/orderbook": {
      "get": {
        "tags": [
          "Limitless"
        ],
        "summary": "Get Limitless Orderbook",
        "description": "Retrieve orderbook data for a Limitless market. Each row shows bid and ask arrays at a point in time.\n\n## What you get\n- Bid and ask price level arrays\n- Token ID and market ID\n- Last update timestamp\n\n## Use cases\n- Analyze current and historical liquidity\n- Build depth charts\n- Calculate spreads\n\n## Note The playground returns 10 results for demo. Use `limit` parameter (up to 10,000) in production.\n\n## Example\n\n- Request: `GET /api/v1/limitless/dollarbtc-above-dollar7294324-on-feb-5-0300-utc-1770256941356/orderbook?limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "market_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Limitless market identifier",
            "example": "dollarbtc-above-dollar7294324-on-feb-5-0300-utc-1770256941356"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 10000
            },
            "description": "Maximum number of rows to return (default: 10, max: 10,000)"
          }
        ],
        "responses": {
          "200": {
            "description": "Orderbook data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LimitlessOrderbookRow"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/limitless/{market_id}/exchange_prices": {
      "get": {
        "tags": [
          "Limitless"
        ],
        "summary": "Get Limitless Exchange Prices",
        "description": "Retrieve price history data for a Limitless market. Each row shows price, bid/ask, volume, and open interest at a point in time.\n\n## What you get\n- Current price\n- Yes bid and ask prices\n- Trading volume\n- Open interest\n- Timestamps\n\n## Use cases\n- Build price charts\n- Track volume trends\n- Monitor open interest changes\n- Calculate price volatility\n\n## Note The playground returns 10 results for demo. Use `limit` parameter (up to 10,000) in production.\n\n## Example\n\n- Request: `GET /api/v1/limitless/dollarbtc-above-dollar7294324-on-feb-5-0300-utc-1770256941356/exchange_prices?limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "market_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Limitless market identifier",
            "example": "dollarbtc-above-dollar7294324-on-feb-5-0300-utc-1770256941356"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 10000
            },
            "description": "Maximum number of rows to return (default: 10, max: 10,000)"
          }
        ],
        "responses": {
          "200": {
            "description": "Ticker/price history data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LimitlessTicker"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/limitless/{market_id}/tradehistory": {
      "get": {
        "tags": [
          "Limitless"
        ],
        "summary": "Get Limitless Trade History",
        "description": "Retrieve historical trades for a Limitless market. Each trade includes execution details.\n\n## What you get\n- Yes and No prices\n- Trade count\n- Taker side (buy/sell)\n- Timestamp\n\n## Use cases\n- Analyze trading volume\n- Track price movements\n- Calculate VWAP\n- Build candlestick charts\n\n## Example\n\n- Request: `GET /api/v1/limitless/dollarbtc-above-dollar7294324-on-feb-5-0300-utc-1770256941356/tradehistory?limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "market_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Limitless market identifier",
            "example": "dollarbtc-above-dollar7294324-on-feb-5-0300-utc-1770256941356"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Maximum number of trades to return (default: 10 in docs, no max limit)"
          }
        ],
        "responses": {
          "200": {
            "description": "Trade history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LimitlessTrade"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/limitless/{market_id}/market": {
      "get": {
        "tags": [
          "Limitless"
        ],
        "summary": "Get Limitless Market Details",
        "description": "Retrieve detailed market information for a Limitless market.\n\n## What you get\n- Market title\n- Rules (resolution criteria)\n- Category\n- Closed status and timestamp\n\n## Use cases\n- Display market information to users\n- Check if a market is closed\n- Understand resolution rules\n\n## Example\n\n- Request: `GET /api/v1/limitless/dollarbtc-above-dollar7294324-on-feb-5-0300-utc-1770256941356/market`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "market_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Limitless market identifier",
            "example": "dollarbtc-above-dollar7294324-on-feb-5-0300-utc-1770256941356"
          }
        ],
        "responses": {
          "200": {
            "description": "Market details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LimitlessMarketDetails"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/limitless/markets": {
      "get": {
        "tags": [
          "Limitless"
        ],
        "summary": "List All Limitless Markets",
        "description": "Retrieve a paginated list of all Limitless markets.\n\n## Pagination\n\nUse `limit` and `offset` to paginate through results:\n\nUse the limit and offset query parameters to paginate. Start with offset=0 and increment by your limit value until the response returns an empty list.\n\nResponse Fields:\n\nEach market includes:\n- **limitless_id**: Unique Limitless market identifier\n- **title**: Human-readable market title\n- **rules**: Resolution criteria\n- **closed**: Whether the market has closed\n- **category**: Market category\n\n## Example\n\n- Request: `GET /api/v1/limitless/markets?limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            },
            "description": "Maximum number of markets to return (default: 100, max: 1000)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of markets to skip for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of Limitless markets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LimitlessMarketDetails"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of markets returned"
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Limit used"
                    },
                    "offset": {
                      "type": "integer",
                      "description": "Offset used"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/limitless/{market_id}/cluster": {
      "get": {
        "tags": [
          "Limitless"
        ],
        "summary": "Get Cluster for Limitless Market",
        "description": "Find all cross-exchange matches for a Limitless market. Looks up which cluster this market belongs to and returns all members plus siamese-twin links.\n\n## Use cases\n\n- See if a Limitless market is also listed on Kalshi, Polymarket, or PFun\n- Compare prices across exchanges for the same event\n- Identify arbitrage opportunities\n\n## Example\n\n- Request: `GET /api/v1/limitless/trump-wins-2028/cluster`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "market_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Limitless market ID",
            "example": "trump-wins-2028"
          }
        ],
        "responses": {
          "200": {
            "description": "Cluster members and siamese edges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/pfun/{market_id}/exchange_prices": {
      "get": {
        "tags": [
          "Predict.fun"
        ],
        "summary": "Get Predict.fun Exchange Prices",
        "description": "Retrieve price history data for a Predict.fun market. Each row shows price and bid/ask at a point in time.\n\n## What you get\n- Current price\n- Yes bid and ask prices\n- Timestamps\n\n## Use cases\n- Build price charts\n- Track price movements\n- Calculate spreads over time\n\n## Note The playground returns 10 results for demo. Use `limit` parameter (up to 10,000) in production.\n\n## Example\n\n- Request: `GET /api/v1/pfun/6933/exchange_prices?limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "market_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Predict.fun market identifier",
            "example": "6933"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 10000
            },
            "description": "Maximum number of rows to return (default: 10, max: 10,000)"
          }
        ],
        "responses": {
          "200": {
            "description": "Ticker/price history data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PfunTicker"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/pfun/{market_id}/market": {
      "get": {
        "tags": [
          "Predict.fun"
        ],
        "summary": "Get Predict.fun Market Details",
        "description": "Retrieve detailed information about a specific Predict.fun market.\n\n## What you get\n- Market title, question, and rules\n- Event and category info\n- Strike price and expiration\n- Contract IDs (yes/no)\n- Payout details\n\n## Use cases\n- Display market information\n- Get contract IDs for trading\n- Understand market rules\n\n## Example\n\n- Request: `GET /api/v1/pfun/6933/market`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "market_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Predict.fun market identifier",
            "example": "6933"
          }
        ],
        "responses": {
          "200": {
            "description": "Market details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PfunMarketDetails"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/pfun/markets": {
      "get": {
        "tags": [
          "Predict.fun"
        ],
        "summary": "List All Predict.fun Markets",
        "description": "Retrieve a paginated list of all Predict.fun markets.\n\n## Pagination\n\nUse `limit` and `offset` to paginate through results:\n\nUse the limit and offset query parameters to paginate. Start with offset=0 and increment by your limit value until the response returns an empty list.\n\nResponse Fields:\n\nEach market includes:\n- **market_id**: Unique Predict.fun market identifier\n- **market_title**: Human-readable market title\n- **question**: Market question\n- **category**: Market category\n- **rules**: Resolution criteria\n- **strike/expiration**: Strike price and expiration info\n- **conid_yes/conid_no**: Contract IDs\n\n## Example\n\n- Request: `GET /api/v1/pfun/markets?limit=10`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            },
            "description": "Maximum number of markets to return (default: 100, max: 1000)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of markets to skip for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of Predict.fun markets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PfunMarketDetails"
                      }
                    },
[...]
