{
  "openapi": "3.0.3",
  "info": {
    "title": "Delphi Markets Parlays API",
    "description": "Kalshi RFQ (Request for Quote) and MVE (Multi-Value Event) parlay trade data, plus bulk data export endpoints.",
    "version": "1.0.0",
    "contact": {
      "name": "Delphi Markets",
      "url": "https://delphimarkets.com"
    }
  },
  "servers": [
    {
      "url": "https://api.delphiterminal.co",
      "description": "Delphi Markets API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Parlays",
      "description": "Kalshi RFQ (Request for Quote) and MVE (Multi-Value Event) parlay trade data. Includes individual RFQ lookups, parlay trade history, and bulk data export in Parquet/JSONL format."
    }
  ],
  "paths": {
    "/api/v1/klsi/rfq/{rfq_id}": {
      "get": {
        "tags": [
          "Parlays"
        ],
        "summary": "Get RFQ by ID",
        "description": "Retrieve all Request for Quote (RFQ) events for a given RFQ UUID. Returns the full lifecycle of an RFQ (created, quoted, deleted, etc.).\n\n## What you get\n- RFQ lifecycle events (created, deleted, etc.)\n- Creator and quote creator identifiers\n- Associated market and event tickers\n- Full JSON message with RFQ details (target cost, timestamps)\n\n## Use cases\n- Track the lifecycle of a specific RFQ\n- Analyze RFQ creation and deletion patterns\n- Monitor institutional quoting activity\n\n## Example\n\n- Request: `GET /api/v1/klsi/rfq/822dcdee-e5c1-47da-9ddf-15287fb37c44`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "$ref": "#/components/parameters/rfq_id"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "RFQ events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RFQRow"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/klsi/rfq/date/{date}": {
      "get": {
        "tags": [
          "Parlays"
        ],
        "summary": "Get RFQs by Date",
        "description": "Retrieve all Request for Quote (RFQ) events for a specific date. Returns every RFQ that was created on that day across all markets.\n\n## What you get\n- All RFQ lifecycle events for the given date\n- Creator and quote creator identifiers\n- Associated market and event tickers\n- Full JSON message with RFQ details\n\n## Use cases\n- Analyze daily RFQ volume\n- Monitor institutional quoting activity over time\n- Track block trade demand by day\n\n## Example\n\n- Request: `GET /api/v1/klsi/rfq/date/2026-02-13`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "$ref": "#/components/parameters/date"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "RFQ events for the date",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RFQRow"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/data/{dataset}": {
      "get": {
        "tags": [
          "Parlays"
        ],
        "summary": "Download Dataset by Date",
        "description": "Download RFQ or MVE trades data for a specific date as presigned S3 URLs. Returns a finalized daily Parquet file if the day is complete, or live hourly JSONL parts if the day is still in progress.\n\nRequires a Max or Admin plan.\n\n## What you get\n\n- Presigned S3 download URLs (valid for 5 minutes)\n- Automatic detection of finalized vs live data\n- Full daily Parquet file for completed days\n- Hourly JSONL parts for the current day\n\n## Use cases\n\n- Bulk download historical data for backtesting\n- Build local analytics pipelines\n- Feed data into Pandas, Polars, or DuckDB\n- Stream today's data hour-by-hour for near-real-time analytics\n\n## Datasets\n\n- rfq: Kalshi Request for Quote events (same schema as the /klsi/{id}/rfq endpoint)\n- mve_trades: Kalshi Multi-Value Event parlay trades (same schema as the /klsi/{id}/mve_trades endpoint)\n\n## Example\n\n- Request: `GET /api/v1/data/rfq?date=2026-02-25`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "rfq",
                "mve_trades"
              ]
            },
            "description": "Dataset to download",
            "example": "rfq"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Date in YYYY-MM-DD format. Defaults to today (UTC).",
            "example": "2026-02-25"
          },
          {
            "name": "hour",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Hour filter (00-23). Only applies to live (non-finalized) days. Returns only parts for that specific hour.",
            "example": "14"
          }
        ],
        "responses": {
          "200": {
            "description": "Data export with presigned download URLs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataExportResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "Forbidden - requires Max or Admin plan"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/data/{dataset}/latest": {
      "get": {
        "tags": [
          "Parlays"
        ],
        "summary": "Download Latest Dataset (Today)",
        "description": "Convenience endpoint that returns today's data (UTC). Equivalent to calling the date endpoint with today's date. Returns live hourly JSONL parts since the day is typically still in progress.\n\nRequires a Max or Admin plan.\n\n## What you get\n\n- Today's data as presigned S3 download URLs\n- Hourly JSONL parts accumulated so far today\n- Optional hour filter to get a specific hour's data\n\n## Use cases\n\n- Quick access to today's data without specifying a date\n- Monitor today's RFQ or MVE activity in near-real-time\n- Feed into streaming analytics pipelines\n\n## Example\n\n- Request: `GET /api/v1/data/rfq/latest`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "rfq",
                "mve_trades"
              ]
            },
            "description": "Dataset to download",
            "example": "rfq"
          },
          {
            "name": "hour",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Hour filter (00-23). Returns only parts for that specific hour of today.",
            "example": "14"
          }
        ],
        "responses": {
          "200": {
            "description": "Data export with presigned download URLs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataExportResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "Forbidden - requires Max or Admin plan"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/klsi/{klsi_id}/rfq": {
      "get": {
        "tags": [
          "Parlays"
        ],
        "summary": "Get RFQs by Market",
        "description": "Retrieve all Request for Quote (RFQ) events for a given Kalshi market ticker. Returns every RFQ that was created for this market.\n\n## What you get\n- All RFQ events for the market\n- RFQ lifecycle events (created, deleted, etc.)\n- Creator and quote creator identifiers\n- Full JSON message with RFQ details (target cost, timestamps)\n\n## Use cases\n- See all RFQ activity on a specific market\n- Analyze demand for block trades\n- Monitor institutional interest in a market\n\n## Example\n\n- Request: `GET /api/v1/klsi/KXATPMATCH-26FEB13FRIKOR-FRI/rfq`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "klsi_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Kalshi market ticker",
            "example": "KXATPMATCH-26FEB13FRIKOR-FRI"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "RFQ events for the market",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RFQRow"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/klsi/{klsi_id}/mve_trades": {
      "get": {
        "tags": [
          "Parlays"
        ],
        "summary": "Get MVE Trades (Parlays)",
        "description": "Retrieve all Multi-Value Event (MVE) parlay trades for a given Kalshi market ticker. MVE trades are multi-leg bets that combine multiple markets.\n\n## What you get\n- Trade timestamps and prices\n- Taker side and contract count\n- MVE collection and event tickers\n- Individual leg details (market tickers, event tickers, sides)\n- Number of legs in each parlay\n\n## Use cases\n- Track parlay trading activity on a market\n- Analyze multi-leg bet structures\n- Monitor institutional parlay flow\n\n## Example\n\n- Request: `GET /api/v1/klsi/KXMVESPORTSMULTIGAMEEXTENDED-S202613EAE13A377-ED7156B203E/mve_trades`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "parameters": [
          {
            "name": "klsi_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Kalshi market ticker",
            "example": "KXMVESPORTSMULTIGAMEEXTENDED-S202613EAE13A377-ED7156B203E"
          }
        ],
        "responses": {
          "200": {
            "description": "MVE trades for the market",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MVETrade"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RFQRow": {
        "type": "object",
        "description": "A Request for Quote (RFQ) event from Kalshi. Each row represents a lifecycle event (e.g., rfq_created, rfq_deleted) for a specific RFQ.",
        "properties": {
          "type": {
            "type": "string",
            "description": "RFQ event type (e.g., rfq_created, rfq_deleted)"
          },
          "sid": {
            "type": "integer",
            "nullable": true,
            "description": "Session ID"
          },
          "seq": {
            "type": "integer",
            "nullable": true,
            "description": "Sequence number"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "RFQ identifier"
          },
          "creator_id": {
            "type": "string",
            "description": "Creator identifier (hashed)"
          },
          "market_ticker": {
            "type": "string",
            "description": "Kalshi market ticker"
          },
          "event_ticker": {
            "type": "string",
            "description": "Kalshi event ticker"
          },
          "quote_creator_id": {
            "type": "string",
            "description": "Quote creator identifier"
          },
          "msg": {
            "type": "string",
            "description": "JSON message containing RFQ details (target_cost, timestamps, etc.)"
          }
        }
      },
      "DataExportResponse": {
        "type": "object",
        "description": "Response containing presigned S3 download URLs for a dataset export. The status field indicates whether this is a finalized daily Parquet or live hourly JSONL parts.",
        "properties": {
          "dataset": {
            "type": "string",
            "description": "Dataset name (rfq or mve_trades)",
            "example": "rfq"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Date of the data (YYYY-MM-DD)",
            "example": "2026-02-25"
          },
          "status": {
            "type": "string",
            "enum": [
              "final",
              "live"
            ],
            "description": "Whether the data is finalized (full daily Parquet) or live (hourly JSONL parts)"
          },
          "format": {
            "type": "string",
            "enum": [
              "parquet",
              "jsonl.gz"
            ],
            "description": "File format of the downloadable parts"
          },
          "hour": {
            "type": "string",
            "description": "Hour filter applied (only present when filtering live data by hour)",
            "example": "14"
          },
          "parts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataExportPart"
            },
            "description": "List of downloadable file parts with presigned URLs"
          }
        }
      },
      "MVETrade": {
        "type": "object",
        "description": "A Multi-Value Event (MVE) parlay trade from Kalshi. Each row represents a single parlay trade with multiple legs.",
        "properties": {
          "trade_ts": {
            "type": "string",
            "format": "date-time",
            "description": "Trade timestamp"
          },
          "market_ticker": {
            "type": "string",
            "description": "Kalshi market ticker"
          },
          "yes_price": {
            "type": "integer",
            "description": "YES price in cents"
          },
          "no_price": {
            "type": "integer",
            "description": "NO price in cents"
          },
          "count": {
            "type": "integer",
            "description": "Number of contracts traded"
          },
          "taker_side": {
            "type": "string",
            "description": "Taker side (e.g., yes, no)"
          },
          "mve_collection_ticker": {
            "type": "string",
            "description": "MVE collection ticker"
          },
          "event_ticker": {
            "type": "string",
            "description": "Kalshi event ticker"
          },
          "leg_market_tickers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Market tickers for each leg of the parlay"
          },
          "leg_event_tickers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Event tickers for each leg of the parlay"
          },
          "leg_sides": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Side (yes/no) for each leg of the parlay"
          },
          "num_legs": {
            "type": "integer",
            "description": "Number of legs in the parlay"
          }
        }
      },
      "DataExportPart": {
        "type": "object",
        "description": "A single downloadable file part with a presigned S3 URL.",
        "properties": {
          "key": {
            "type": "string",
            "description": "S3 object key",
            "example": "parquet_exports/rfq/dt=2026-02-25/daily.parquet"
          },
          "url": {
            "type": "string",
            "description": "Presigned download URL (valid for 5 minutes)"
          },
          "size_bytes": {
            "type": "integer",
            "description": "File size in bytes"
          },
          "last_modified": {
            "type": "string",
            "format": "date-time",
            "description": "Last modified timestamp"
          }
        }
      }
    },
    "parameters": {
      "date": {
        "name": "date",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "date"
        },
        "description": "Date in YYYY-MM-DD format",
        "example": "2026-02-13"
      },
      "rfq_id": {
        "name": "rfq_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "Kalshi RFQ ID (UUID)",
        "example": "822dcdee-e5c1-47da-9ddf-15287fb37c44"
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "default": 10
        },
        "description": "Maximum number of rows to return (default: 10 in docs, max: 10000). Use a higher limit in your code."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Your API key (get one from the test-key endpoint above)"
      }
    }
  }
}
