{
  "openapi": "3.0.3",
  "info": {
    "title": "Delphi Markets WebSocket API",
    "description": "Real-time WebSocket streaming endpoints for Delphi Markets.",
    "version": "1.0.0",
    "contact": {
      "name": "Delphi Markets",
      "url": "https://delphimarkets.com"
    }
  },
  "servers": [
    {
      "url": "https://api.delphiterminal.co",
      "description": "Delphi Markets API"
    }
  ],
  "tags": [
    {
      "name": "Kalshi WebSocket",
      "description": "Real-time WebSocket streaming for Kalshi market data. Subscribe to ticker and orderbook updates using klsi_id."
    },
    {
      "name": "Polymarket WebSocket",
      "description": "Real-time WebSocket streaming for Polymarket data. Subscribe to price updates using condition_id or orderbook updates using market_id."
    },
    {
      "name": "Predict.fun WebSocket",
      "description": "Real-time WebSocket streaming for Predict.fun market data."
    },
    {
      "name": "Limitless WebSocket",
      "description": "Real-time WebSocket streaming for Limitless market data."
    },
    {
      "name": "Gemini WebSocket",
      "description": "Real-time WebSocket streaming for Gemini prediction market data."
    },
    {
      "name": "Manifold WebSocket",
      "description": "Real-time WebSocket streaming for Manifold prediction market data."
    },
    {
      "name": "Opinion WebSocket",
      "description": "Real-time WebSocket streaming for Opinion prediction market data."
    },
    {
      "name": "ForecastEx WebSocket",
      "description": "Real-time WebSocket streaming for ForecastEx prediction market data. Prices and trades only (no orderbook)."
    },
    {
      "name": "PredictIt WebSocket",
      "description": "Real-time WebSocket streaming for PredictIt prediction market data. Prices only (no orderbook or trades)."
    }
  ],
  "paths": {
    "/ws/kalshi": {
      "get": {
        "tags": [
          "Kalshi WebSocket"
        ],
        "summary": "Kalshi Real-Time WebSocket",
        "description": "Connect to the Kalshi WebSocket for real-time price, orderbook, and trade updates.\n\n---\n\nConnection:\n\nConnect to the WebSocket endpoint:\n\nConnect to: wss://api.delphiterminal.co/ws/kalshi\n\n---\n\nSubscribing to Markets:\n\nOnce connected, send a JSON message to subscribe to Kalshi markets using their `klsi_id`:\n\n{\n  \"action\": \"subscribe\",\n  \"klsi_ids\": [\"KXBTCD-25FEB14-B55000\", \"KXETHD-25FEB14-B3100\"],\n  \"message_types\": [\"prices\", \"orderbook\", \"trades\"]\n}\n\nSubscription Fields:\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| action | string | Yes | `subscribe` or `unsubscribe` |\n| klsi_ids | array | Yes | Array of Kalshi market identifiers |\n| message_types | array | No | `[\"prices\"]`, `[\"orderbook\"]`, `[\"trades\"]`, or any combination. Defaults to prices and orderbook if omitted |\n\n---\n\nUnsubscribing:\n\n{\n  \"action\": \"unsubscribe\",\n  \"klsi_ids\": [\"KXBTCD-25FEB14-B55000\"]\n}\n\n---\n\nMessage Types:\n\nPrice Messages:\n\nReal-time price updates for subscribed markets:\n\n{\n  \"klsi_id\": \"KXBTCD-25FEB14-B55000\",\n  \"price\": 0.65,\n  \"yes_bid\": 0.64,\n  \"yes_ask\": 0.66,\n  \"volume\": 15000,\n  \"open_interest\": 8500,\n  \"last_update\": \"2026-02-03T14:30:00Z\"\n}\n\nOrderbook Messages:\n\nReal-time orderbook snapshots for subscribed markets:\n\n{\n  \"klsi_id\": \"KXBTCD-25FEB14-B55000\",\n  \"bid_side\": [0, 0, 0, ..., 150, 200, 100],\n  \"ask_side\": [100, 150, 200, ..., 0, 0, 0],\n  \"last_update\": \"2026-02-03T14:30:00Z\"\n}\n\nTrade Messages:\n\nReal-time trade executions for subscribed markets:\n\n{\n  \"id\": \"trade123\",\n  \"klsi_id\": \"KXBTCD-25FEB14-B55000\",\n  \"exchange\": \"klsi\",\n  \"yes_price\": 0.65,\n  \"no_price\": 0.35,\n  \"count\": 10,\n  \"taker_side\": \"buy\",\n  \"last_update\": \"2026-02-03T14:30:00Z\"\n}\n\n---\n\nFull JavaScript Example:\n\nConnect to: wss://api.delphiterminal.co/ws/kalshi\n\nws.onopen = () => {\n  console.log('Connected to Kalshi WebSocket\n  \n  // Subscribe to markets\n  ws.send(JSON.stringify({\n    action: 'subscribe',\n    klsi_ids: ['KXBTCD-25FEB14-B55000'],\n    message_types: ['prices', 'orderbook', 'trades']\n  }));\n};\n\nws.onmessage = (event) => {\n  const data = JSON.parse(event.data);\n  console.log('Received:', data);\n};\n\nws.onclose = () => {\n  console.log('Disconnected from WebSocket\n};\n\nws.onerror = (error) => {\n  console.error('WebSocket error:', error);\n};\n\n---\n\nConnection Details:\n\n| Property | Value |\n|----------|-------|\n| Protocol | WebSocket (wss://) |\n| Keepalive | Ping every 54 seconds |\n| Timeout | 60 seconds without pong |\n| Max Message Size | 512 KB |\n\n---\n\nNotes:\n\n- **No authentication required** for WebSocket connection\n- You must use `klsi_id` (Kalshi market identifier) to subscribe\n- Messages are only sent for markets you have explicitly subscribed to\n- Multiple markets can be subscribed in a single message\n- Subscribe to specific message types to reduce message volume\n- Trades must be explicitly requested (not included in default subscription)\n\n## Example\n\n- Request: `GET /ws/kalshi`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "security": [],
        "responses": {
          "101": {
            "description": "WebSocket connection upgraded successfully"
          }
        }
      }
    },
    "/ws/poly": {
      "get": {
        "tags": [
          "Polymarket WebSocket"
        ],
        "summary": "Polymarket Real-Time WebSocket",
        "description": "Connect to the Polymarket WebSocket for real-time price, orderbook, and trade updates.\n\n---\n\nConnection:\n\nConnect to the WebSocket endpoint:\n\nConnect to: wss://api.delphiterminal.co/ws/poly\n\n---\n\nSubscribing to Markets:\n\nOnce connected, send a JSON message to subscribe to Polymarket data using their `condition_id`:\n\n{\n  \"action\": \"subscribe\",\n  \"condition_ids\": [\"0x00000977017fa72fb6b1908ae694000d3b51f442c2552656b10bdbbfd16ff707\"],\n  \"message_types\": [\"prices\", \"orderbook\", \"trades\"]\n}\n\nSubscription Fields:\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| action | string | Yes | `subscribe` or `unsubscribe` |\n| condition_ids | array | Yes | Array of Polymarket condition identifiers (hex strings starting with 0x) |\n| message_types | array | No | `[\"prices\"]`, `[\"orderbook\"]`, `[\"trades\"]`, or any combination. Defaults to prices and orderbook if omitted |\n\n---\n\nUnsubscribing:\n\n{\n  \"action\": \"unsubscribe\",\n  \"condition_ids\": [\"0x00000977017fa72fb6b1908ae694000d3b51f442c2552656b10bdbbfd16ff707\"]\n}\n\n---\n\nMessage Types:\n\nPrice Messages:\n\nReal-time price updates for subscribed markets:\n\n{\n  \"type\": \"prices\",\n  \"data\": {\n    \"exchange\": \"poly\",\n    \"condition_id\": \"0x00000977017fa72fb6b1908ae694000d3b51f442c2552656b10bdbbfd16ff707\",\n    \"price\": 0.992,\n    \"last_update\": \"2026-02-04T15:30:00Z\"\n  }\n}\n\nOrderbook Messages:\n\nReal-time orderbook snapshots for subscribed markets:\n\n{\n  \"type\": \"orderbook\",\n  \"data\": {\n    \"snapshot_time\": \"2026-02-04T15:30:00Z\",\n    \"exchange\": \"poly\",\n    \"market_id\": \"0x1234abcd5678efgh\",\n    \"condition_id\": \"0x00000977017fa72fb6b1908ae694000d3b51f442c2552656b10bdbbfd16ff707\",\n    \"bid_side\": [0.55, 0.54, 0.53, 0.52, 0.51],\n    \"ask_side\": [0.56, 0.57, 0.58, 0.59, 0.60],\n    \"original_last_update\": \"2026-02-04T15:29:59Z\"\n  }\n}\n\nTrade Messages:\n\nReal-time trade executions for subscribed markets:\n\n{\n  \"type\": \"trades\",\n  \"data\": {\n    \"exchange\": \"poly\",\n    \"condition_id\": \"0x00000977017fa72fb6b1908ae694000d3b51f442c2552656b10bdbbfd16ff707\",\n    \"token_id\": \"0x123...\",\n    \"market_id\": \"0xabc...\",\n    \"price\": 0.65,\n    \"size\": 100.5,\n    \"side\": \"buy\",\n    \"last_update\": \"2026-02-04T15:30:00Z\"\n  }\n}\n\n---\n\nFull JavaScript Example:\n\nConnect to: wss://api.delphiterminal.co/ws/poly\n\nws.onopen = () => {\n  console.log('Connected to Polymarket WebSocket\n  \n  // Subscribe to markets\n  ws.send(JSON.stringify({\n    action: 'subscribe',\n    condition_ids: ['0x00000977017fa72fb6b1908ae694000d3b51f442c2552656b10bdbbfd16ff707'],\n    message_types: ['prices', 'orderbook', 'trades']\n  }));\n};\n\nws.onmessage = (event) => {\n  const data = JSON.parse(event.data);\n  \n  if (data.type === 'prices') {\n    console.log('Price update:', data.data);\n  } else if (data.type === 'orderbook') {\n    console.log('Orderbook update:', data.data);\n  } else if (data.type === 'trades') {\n    console.log('Trade:', data.data);\n  }\n};\n\nws.onclose = () => {\n  console.log('Disconnected from WebSocket\n};\n\nws.onerror = (error) => {\n  console.error('WebSocket error:', error);\n};\n\n---\n\nConnection Details:\n\n| Property | Value |\n|----------|-------|\n| Protocol | WebSocket (wss://) |\n| Keepalive | Ping every 54 seconds |\n| Timeout | 60 seconds without pong |\n| Max Message Size | 512 KB |\n\n---\n\nNotes:\n\n- **No authentication required** for WebSocket connection\n- You must use `condition_id` (Polymarket condition identifier) to subscribe\n- Messages are only sent for markets you have explicitly subscribed to\n- Multiple markets can be subscribed in a single message\n- Subscribe to specific message types to reduce message volume\n- Trades must be explicitly requested (not included in default subscription)\n- Orderbook updates are high-frequency - consider filtering client-side if needed\n\n## Example\n\n- Request: `GET /ws/poly`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "security": [],
        "responses": {
          "101": {
            "description": "WebSocket connection upgraded successfully"
          }
        }
      }
    },
    "/ws/pfun": {
      "get": {
        "tags": [
          "Predict.fun WebSocket"
        ],
        "summary": "Predict.fun Real-Time WebSocket",
        "description": "Connect to the Predict.fun WebSocket for real-time price, orderbook, and trade updates.\n\n---\n\nConnection:\n\nConnect to the WebSocket endpoint:\n\nConnect to: wss://api.delphiterminal.co/ws/pfun\n\n---\n\nSubscribing to Markets:\n\nOnce connected, send a JSON message to subscribe to Predict.fun data using their `market_id`:\n\n{\n  \"action\": \"subscribe\",\n  \"market_ids\": [\"market123\", \"market456\"],\n  \"message_types\": [\"prices\", \"orderbook\", \"trades\"]\n}\n\nSubscription Fields:\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| action | string | Yes | `subscribe` or `unsubscribe` |\n| market_ids | array | Yes | Array of Predict.fun market identifiers |\n| message_types | array | No | `[\"prices\"]`, `[\"orderbook\"]`, `[\"trades\"]`, or any combination. Defaults to prices and orderbook if omitted |\n\n---\n\nUnsubscribing:\n\n{\n  \"action\": \"unsubscribe\",\n  \"market_ids\": [\"market123\"]\n}\n\n---\n\nMessage Types:\n\nPrice Messages:\n\nReal-time price updates for subscribed markets:\n\n{\n  \"type\": \"prices\",\n  \"data\": {\n    \"exchange\": \"pfun\",\n    \"market_id\": \"market123\",\n    \"price\": 0.65,\n    \"yes_bid\": 0.64,\n    \"yes_ask\": 0.66,\n    \"last_update\": \"2026-02-06T12:00:00Z\"\n  }\n}\n\nOrderbook Messages:\n\nReal-time orderbook snapshots for subscribed markets:\n\n{\n  \"type\": \"orderbook\",\n  \"data\": {\n    \"exchange\": \"pfun\",\n    \"market_id\": \"market123\",\n    \"venue_market_id\": \"venue123\",\n    \"best_yes_price\": 65,\n    \"best_yes_size\": 100,\n    \"best_no_price\": 35,\n    \"best_no_size\": 50,\n    \"yes_side\": [100, 200, 300],\n    \"no_side\": [50, 100, 150],\n    \"server_time\": \"2026-02-06T12:00:00Z\"\n  }\n}\n\nTrade Messages:\n\nReal-time trade executions for subscribed markets:\n\n{\n  \"type\": \"trades\",\n  \"data\": {\n    \"exchange\": \"pfun\",\n    \"market_id\": \"market123\",\n    \"yes_price\": 0.65,\n    \"no_price\": 0.35,\n    \"count\": 10,\n    \"taker_side\": \"buy\",\n    \"last_update\": \"2026-02-06T12:00:00Z\"\n  }\n}\n\n---\n\nFull JavaScript Example:\n\nConnect to: wss://api.delphiterminal.co/ws/pfun\n\nws.onopen = () => {\n  console.log('Connected to Predict.fun WebSocket\n  \n  // Subscribe to markets\n  ws.send(JSON.stringify({\n    action: 'subscribe',\n    market_ids: ['market123'],\n    message_types: ['prices', 'orderbook', 'trades']\n  }));\n};\n\nws.onmessage = (event) => {\n  const data = JSON.parse(event.data);\n  \n  if (data.type === 'prices') {\n    console.log('Price update:', data.data);\n  } else if (data.type === 'orderbook') {\n    console.log('Orderbook update:', data.data);\n  } else if (data.type === 'trades') {\n    console.log('Trade:', data.data);\n  }\n};\n\nws.onclose = () => {\n  console.log('Disconnected from WebSocket\n};\n\nws.onerror = (error) => {\n  console.error('WebSocket error:', error);\n};\n\n---\n\nConnection Details:\n\n| Property | Value |\n|----------|-------|\n| Protocol | WebSocket (wss://) |\n| Keepalive | Ping every 54 seconds |\n| Timeout | 60 seconds without pong |\n| Max Message Size | 16 KB |\n\n---\n\nNotes:\n\n- **No authentication required** for WebSocket connection\n- You must use `market_id` (Predict.fun market identifier) to subscribe\n- Messages are only sent for markets you have explicitly subscribed to\n- Multiple markets can be subscribed in a single message\n- Subscribe to specific message types to reduce message volume\n- Trades must be explicitly requested (not included in default subscription)\n\n## Example\n\n- Request: `GET /ws/pfun`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "security": [],
        "responses": {
          "101": {
            "description": "WebSocket connection upgraded successfully"
          }
        }
      }
    },
    "/ws/limitless": {
      "get": {
        "tags": [
          "Limitless WebSocket"
        ],
        "summary": "Limitless Real-Time WebSocket",
        "description": "Connect to the Limitless WebSocket for real-time price, orderbook, and trade updates.\n\n---\n\nConnection:\n\nConnect to the WebSocket endpoint:\n\nConnect to: wss://api.delphiterminal.co/ws/limitless\n\n---\n\nSubscribing to Markets:\n\nOnce connected, send a JSON message to subscribe to Limitless data using their `market_id`:\n\n{\n  \"action\": \"subscribe\",\n  \"market_ids\": [\"market123\", \"market456\"],\n  \"message_types\": [\"prices\", \"orderbook\", \"trades\"]\n}\n\nSubscription Fields:\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| action | string | Yes | `subscribe` or `unsubscribe` |\n| market_ids | array | Yes | Array of Limitless market identifiers |\n| message_types | array | No | `[\"prices\"]`, `[\"orderbook\"]`, `[\"trades\"]`, or any combination. Defaults to prices and orderbook if omitted |\n\n---\n\nUnsubscribing:\n\n{\n  \"action\": \"unsubscribe\",\n  \"market_ids\": [\"market123\"]\n}\n\n---\n\nMessage Types:\n\nPrice Messages:\n\nReal-time price updates for subscribed markets:\n\n{\n  \"type\": \"prices\",\n  \"data\": {\n    \"exchange\": \"limitless\",\n    \"market_id\": \"market123\",\n    \"price\": 0.65,\n    \"yes_bid\": 0.64,\n    \"yes_ask\": 0.66,\n    \"volume\": 15000,\n    \"open_interest\": 8500,\n    \"last_update\": \"2026-02-06T12:00:00Z\"\n  }\n}\n\nOrderbook Messages:\n\nReal-time orderbook snapshots for subscribed markets:\n\n{\n  \"type\": \"orderbook\",\n  \"data\": {\n    \"exchange\": \"limitless\",\n    \"token_id\": \"token123\",\n    \"market_id\": \"market123\",\n    \"bid_side\": [0.55, 0.54, 0.53, 0.52, 0.51],\n    \"ask_side\": [0.56, 0.57, 0.58, 0.59, 0.60],\n    \"last_update\": \"2026-02-06T12:00:00Z\"\n  }\n}\n\nTrade Messages:\n\nReal-time trade executions for subscribed markets:\n\n{\n  \"type\": \"trades\",\n  \"data\": {\n    \"exchange\": \"limitless\",\n    \"market_id\": \"market123\",\n    \"yes_price\": 0.65,\n    \"no_price\": 0.35,\n    \"count\": 10,\n    \"taker_side\": \"buy\",\n    \"last_update\": \"2026-02-06T12:00:00Z\"\n  }\n}\n\n---\n\nFull JavaScript Example:\n\nConnect to: wss://api.delphiterminal.co/ws/limitless\n\nws.onopen = () => {\n  console.log('Connected to Limitless WebSocket\n  \n  // Subscribe to markets\n  ws.send(JSON.stringify({\n    action: 'subscribe',\n    market_ids: ['market123'],\n    message_types: ['prices', 'orderbook', 'trades']\n  }));\n};\n\nws.onmessage = (event) => {\n  const data = JSON.parse(event.data);\n  \n  if (data.type === 'prices') {\n    console.log('Price update:', data.data);\n  } else if (data.type === 'orderbook') {\n    console.log('Orderbook update:', data.data);\n  } else if (data.type === 'trades') {\n    console.log('Trade:', data.data);\n  }\n};\n\nws.onclose = () => {\n  console.log('Disconnected from WebSocket\n};\n\nws.onerror = (error) => {\n  console.error('WebSocket error:', error);\n};\n\n---\n\nConnection Details:\n\n| Property | Value |\n|----------|-------|\n| Protocol | WebSocket (wss://) |\n| Keepalive | Ping every 54 seconds |\n| Timeout | 60 seconds without pong |\n| Max Message Size | 16 KB |\n\n---\n\nNotes:\n\n- **No authentication required** for WebSocket connection\n- You must use `market_id` (Limitless market identifier) to subscribe\n- Messages are only sent for markets you have explicitly subscribed to\n- Multiple markets can be subscribed in a single message\n- Subscribe to specific message types to reduce message volume\n- Trades must be explicitly requested (not included in default subscription)\n\n## Example\n\n- Request: `GET /ws/limitless`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "security": [],
        "responses": {
          "101": {
            "description": "WebSocket connection upgraded successfully"
          }
        }
      }
    },
    "/ws/gemi": {
      "get": {
        "tags": [
          "Gemini WebSocket"
        ],
        "summary": "Gemini Real-Time WebSocket",
        "description": "Connect to the Gemini WebSocket for real-time price, orderbook, and trade updates.\n\n---\n\nConnection:\n\nConnect to the WebSocket endpoint:\n\nConnect to: wss://api.delphiterminal.co/ws/gemi\n\n---\n\nSubscribing to Markets:\n\nOnce connected, send a JSON message to subscribe to Gemini data using their `market_id`:\n\n{\n  \"action\": \"subscribe\",\n  \"market_ids\": [\"GEMI-BTC15M-HI70000\", \"GEMI-FEDJAN26-DN25\"],\n  \"message_types\": [\"prices\", \"orderbook\", \"trades\"]\n}\n\nSubscription Fields:\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| action | string | Yes | `subscribe` or `unsubscribe` |\n| market_ids | array | Yes | Array of Gemini market identifiers |\n| message_types | array | No | `[\"prices\"]`, `[\"orderbook\"]`, `[\"trades\"]`, or any combination. Defaults to prices and orderbook if omitted |\n\n---\n\nUnsubscribing:\n\n{\n  \"action\": \"unsubscribe\",\n  \"market_ids\": [\"GEMI-BTC15M-HI70000\"]\n}\n\n---\n\nMessage Types:\n\nPrice Messages:\n\nReal-time price updates for subscribed markets:\n\n{\n  \"type\": \"prices\",\n  \"data\": {\n    \"venue\": \"GEMI\",\n    \"market_id\": \"GEMI-BTC15M-HI70000\",\n    \"server_time\": 1774762511552,\n    \"ingest_time\": 1774762511553,\n    \"payload\": {\n      \"type\": \"Ticker\",\n      \"Ticker\": {\n        \"best_bid\": 0.45,\n        \"best_bid_qty\": 100,\n        \"best_ask\": 0.55,\n        \"best_ask_qty\": 80\n      }\n    }\n  }\n}\n\nOrderbook Messages:\n\nReal-time orderbook snapshots for subscribed markets:\n\n{\n  \"type\": \"orderbook\",\n  \"data\": {\n    \"exchange\": \"GEMI\",\n    \"market_id\": \"GEMI-BTC15M-HI70000\",\n    \"yes_side\": [0, 0, 100, 200, ...],\n    \"no_side\": [150, 100, 0, 0, ...],\n    \"server_time\": \"2026-03-29T12:00:00Z\"\n  }\n}\n\nTrade Messages:\n\nReal-time trade executions for subscribed markets:\n\n{\n  \"type\": \"trades\",\n  \"data\": {\n    \"venue\": \"GEMI\",\n    \"market_id\": \"GEMI-BTC15M-HI70000\",\n    \"server_time\": 1774762511552,\n    \"payload\": {\n      \"type\": \"Trade\",\n      \"Trade\": {\n        \"trade_id\": 12345,\n        \"price\": 0.50,\n        \"quantity\": 100,\n        \"is_maker\": false\n      }\n    }\n  }\n}\n\n---\n\nFull JavaScript Example:\n\nConnect to: wss://api.delphiterminal.co/ws/gemi?api_key=YOUR_API_KEY\n\nws.onopen = () => {\n  ws.send(JSON.stringify({\n    action: 'subscribe',\n    market_ids: ['GEMI-BTC15M-HI70000'],\n    message_types: ['prices', 'orderbook', 'trades']\n  }));\n};\n\nws.onmessage = (event) => {\n  const data = JSON.parse(event.data);\n  if (data.type === 'prices') console.log('Price:', data.data);\n  else if (data.type === 'orderbook') console.log('Orderbook:', data.data);\n  else if (data.type === 'trades') console.log('Trade:', data.data);\n};\n\n---\n\nConnection Details:\n\n| Property | Value |\n|----------|-------|\n| Protocol | WebSocket (wss://) |\n| Keepalive | Ping every 54 seconds |\n| Timeout | 60 seconds without pong |\n| Max Message Size | 16 KB |\n\n---\n\nNotes:\n\n- **Authentication required** via `api_key` query parameter\n- You must use `market_id` (Gemini market identifier) to subscribe\n- Messages are only sent for markets you have explicitly subscribed to\n- Multiple markets can be subscribed in a single message\n- Trades must be explicitly requested (not included in default subscription)\n\n## Example\n\n- Request: `GET /ws/gemi?api_key=YOUR_API_KEY`",
        "security": [],
        "responses": {
          "101": {
            "description": "WebSocket connection upgraded successfully"
          }
        }
      }
    },
    "/ws/mani": {
      "get": {
        "tags": [
          "Manifold WebSocket"
        ],
        "summary": "Manifold Real-Time WebSocket",
        "description": "Connect to the Manifold WebSocket for real-time price, orderbook, and trade updates.\n\n---\n\nConnection:\n\nConnect to the WebSocket endpoint:\n\nConnect to: wss://api.delphiterminal.co/ws/mani\n\n---\n\nSubscribing to Markets:\n\nOnce connected, send a JSON message to subscribe to Manifold data using their `market_id`:\n\n{\n  \"action\": \"subscribe\",\n  \"market_ids\": [\"Iz0lRpO85N\", \"SdZ6A2IZ88\"],\n  \"message_types\": [\"prices\", \"orderbook\", \"trades\"]\n}\n\nSubscription Fields:\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| action | string | Yes | `subscribe` or `unsubscribe` |\n| market_ids | array | Yes | Array of Manifold market identifiers (slug strings) |\n| message_types | array | No | `[\"prices\"]`, `[\"orderbook\"]`, `[\"trades\"]`, or any combination. Defaults to prices and orderbook if omitted |\n\n---\n\nUnsubscribing:\n\n{\n  \"action\": \"unsubscribe\",\n  \"market_ids\": [\"Iz0lRpO85N\"]\n}\n\n---\n\nMessage Types:\n\nPrice Messages:\n\nReal-time price/probability updates for subscribed markets:\n\n{\n  \"type\": \"prices\",\n  \"data\": {\n    \"venue\": \"MANI\",\n    \"market_id\": \"Iz0lRpO85N\",\n    \"server_time\": 1774762511552,\n    \"ingest_time\": 1774762511553,\n    \"payload\": {\n      \"type\": \"Ticker\",\n      \"Ticker\": {\n        \"price\": 0.67,\n        \"yes_bid\": 0.66,\n        \"yes_ask\": 0.68,\n        \"volume\": 0,\n        \"open_interest\": 0\n      }\n    }\n  }\n}\n\nOrderbook Messages:\n\nReal-time orderbook snapshots for subscribed markets:\n\n{\n  \"type\": \"orderbook\",\n  \"data\": {\n    \"exchange\": \"MANI\",\n    \"market_id\": \"Iz0lRpO85N\",\n    \"yes_side\": [100, 200, 300],\n    \"no_side\": [50, 100, 150],\n    \"server_time\": \"2026-03-29T12:00:00Z\"\n  }\n}\n\nTrade Messages:\n\nReal-time trade executions for subscribed markets:\n\n{\n  \"type\": \"trades\",\n  \"data\": {\n    \"venue\": \"MANI\",\n    \"market_id\": \"Iz0lRpO85N\",\n    \"server_time\": 1774762511552,\n    \"payload\": {\n      \"type\": \"Trade\",\n      \"Trade\": {\n        \"bet_id\": \"abc123\",\n        \"outcome\": \"YES\",\n        \"amount\": 10.0,\n        \"shares\": 14.82,\n        \"price\": 0.676\n      }\n    }\n  }\n}\n\n---\n\nFull JavaScript Example:\n\nConnect to: wss://api.delphiterminal.co/ws/mani?api_key=YOUR_API_KEY\n\nws.onopen = () => {\n  ws.send(JSON.stringify({\n    action: 'subscribe',\n    market_ids: ['Iz0lRpO85N'],\n    message_types: ['prices', 'orderbook', 'trades']\n  }));\n};\n\nws.onmessage = (event) => {\n  const data = JSON.parse(event.data);\n  if (data.type === 'prices') console.log('Price:', data.data);\n  else if (data.type === 'orderbook') console.log('Orderbook:', data.data);\n  else if (data.type === 'trades') console.log('Trade:', data.data);\n};\n\n---\n\nConnection Details:\n\n| Property | Value |\n|----------|-------|\n| Protocol | WebSocket (wss://) |\n| Keepalive | Ping every 54 seconds |\n| Timeout | 60 seconds without pong |\n| Max Message Size | 16 KB |\n\n---\n\nNotes:\n\n- **Authentication required** via `api_key` query parameter\n- You must use `market_id` (Manifold market identifier) to subscribe\n- Manifold data is sourced via REST polling (5-15s intervals), not native WebSocket\n- Messages are only sent for markets you have explicitly subscribed to\n- Trades must be explicitly requested (not included in default subscription)\n\n## Example\n\n- Request: `GET /ws/mani?api_key=YOUR_API_KEY`",
        "security": [],
        "responses": {
          "101": {
            "description": "WebSocket connection upgraded successfully"
          }
        }
      }
    },
    "/ws/opnm": {
      "get": {
        "tags": [
          "Opinion WebSocket"
        ],
        "summary": "Opinion Real-Time WebSocket",
        "description": "Connect to the Opinion WebSocket for real-time price, orderbook, and trade updates.\n\n---\n\nConnection:\n\nConnect to the WebSocket endpoint:\n\nConnect to: wss://api.delphiterminal.co/ws/opnm\n\n---\n\nSubscribing to Markets:\n\nOnce connected, send a JSON message to subscribe to Opinion data using their `market_id`:\n\n{\n  \"action\": \"subscribe\",\n  \"market_ids\": [\"10702\", \"10705\"],\n  \"message_types\": [\"prices\", \"orderbook\", \"trades\"]\n}\n\nSubscription Fields:\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| action | string | Yes | `subscribe` or `unsubscribe` |\n| market_ids | array | Yes | Array of Opinion market identifiers (numeric strings) |\n| message_types | array | No | `[\"prices\"]`, `[\"orderbook\"]`, `[\"trades\"]`, or any combination. Defaults to prices and orderbook if omitted |\n\n---\n\nUnsubscribing:\n\n{\n  \"action\": \"unsubscribe\",\n  \"market_ids\": [\"10702\"]\n}\n\n---\n\nMessage Types:\n\nPrice Messages:\n\nReal-time price updates for subscribed markets:\n\n{\n  \"type\": \"prices\",\n  \"data\": {\n    \"venue\": \"OPNM\",\n    \"market_id\": \"10702\",\n    \"server_time\": 1774762511552,\n    \"ingest_time\": 1774762511553,\n    \"payload\": {\n      \"type\": \"Ticker\",\n      \"Ticker\": {\n        \"price\": 0.45,\n        \"yes_bid\": 0.44,\n        \"yes_ask\": 0.46,\n        \"volume\": 0,\n        \"open_interest\": 0\n      }\n    }\n  }\n}\n\nOrderbook Messages:\n\nReal-time orderbook snapshots for subscribed markets:\n\n{\n  \"type\": \"orderbook\",\n  \"data\": {\n    \"exchange\": \"OPNM\",\n    \"market_id\": \"10702\",\n    \"yes_side\": [0, 0, 100, 200, ...],\n    \"no_side\": [150, 100, 0, 0, ...],\n    \"server_time\": \"2026-03-29T12:00:00Z\"\n  }\n}\n\nTrade Messages:\n\nReal-time trade executions for subscribed markets:\n\n{\n  \"type\": \"trades\",\n  \"data\": {\n    \"venue\": \"OPNM\",\n    \"market_id\": \"10702\",\n    \"server_time\": 1774762511552,\n    \"payload\": {\n      \"type\": \"Trade\",\n      \"Trade\": {\n        \"yes_price\": 0.45,\n        \"no_price\": 0.55,\n        \"count\": 10,\n        \"taker_side\": \"yes\"\n      }\n    }\n  }\n}\n\n---\n\nFull JavaScript Example:\n\nConnect to: wss://api.delphiterminal.co/ws/opnm?api_key=YOUR_API_KEY\n\nws.onopen = () => {\n  ws.send(JSON.stringify({\n    action: 'subscribe',\n    market_ids: ['10702'],\n    message_types: ['prices', 'orderbook', 'trades']\n  }));\n};\n\nws.onmessage = (event) => {\n  const data = JSON.parse(event.data);\n  if (data.type === 'prices') console.log('Price:', data.data);\n  else if (data.type === 'orderbook') console.log('Orderbook:', data.data);\n  else if (data.type === 'trades') console.log('Trade:', data.data);\n};\n\n---\n\nConnection Details:\n\n| Property | Value |\n|----------|-------|\n| Protocol | WebSocket (wss://) |\n| Keepalive | Ping every 54 seconds |\n| Timeout | 60 seconds without pong |\n| Max Message Size | 16 KB |\n\n---\n\nNotes:\n\n- **Authentication required** via `api_key` query parameter\n- You must use `market_id` (Opinion market identifier) to subscribe\n- Messages are only sent for markets you have explicitly subscribed to\n- Trades must be explicitly requested (not included in default subscription)\n\n## Example\n\n- Request: `GET /ws/opnm?api_key=YOUR_API_KEY`",
        "security": [],
        "responses": {
          "101": {
            "description": "WebSocket connection upgraded successfully"
          }
        }
      }
    },
    "/ws/fex": {
      "get": {
        "tags": [
          "ForecastEx WebSocket"
        ],
        "summary": "ForecastEx Real-Time WebSocket",
        "description": "Connect to the ForecastEx WebSocket for real-time price and trade updates. ForecastEx does not provide orderbook data.\n\n---\n\nConnection:\n\nConnect to the WebSocket endpoint:\n\nConnect to: wss://api.delphiterminal.co/ws/fex\n\n---\n\nSubscribing to Markets:\n\nOnce connected, send a JSON message to subscribe to ForecastEx data using their `market_id`:\n\n{\n  \"action\": \"subscribe\",\n  \"market_ids\": [\"EMCAC_1226_24\"],\n  \"message_types\": [\"prices\", \"trades\"]\n}\n\nSubscription Fields:\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| action | string | Yes | `subscribe` or `unsubscribe` |\n| market_ids | array | Yes | Array of ForecastEx market identifiers |\n| message_types | array | No | `[\"prices\"]`, `[\"trades\"]`, or both. Defaults to prices if omitted. **No orderbook available.** |\n\n---\n\nUnsubscribing:\n\n{\n  \"action\": \"unsubscribe\",\n  \"market_ids\": [\"EMCAC_1226_24\"]\n}\n\n---\n\nMessage Types:\n\nPrice Messages:\n\nReal-time price updates for subscribed markets:\n\n{\n  \"type\": \"prices\",\n  \"data\": {\n    \"venue\": \"FEX\",\n    \"market_id\": \"EMCAC_1226_24\",\n    \"server_time\": 1774762511552,\n    \"ingest_time\": 1774762511553,\n    \"payload\": {\n      \"type\": \"Ticker\",\n      \"Ticker\": {\n        \"price\": 0.65,\n        \"yes_bid\": 0.0,\n        \"yes_ask\": 0.0,\n        \"volume\": 0,\n        \"open_interest\": 0\n      }\n    }\n  }\n}\n\nTrade Messages:\n\nReal-time trade executions for subscribed markets:\n\n{\n  \"type\": \"trades\",\n  \"data\": {\n    \"venue\": \"FEX\",\n    \"market_id\": \"EMCAC_1226_24\",\n    \"server_time\": 1774762511552,\n    \"payload\": {\n      \"type\": \"Trade\",\n      \"Trade\": {\n        \"yes_price\": 0.65,\n        \"no_price\": 0.35,\n        \"count\": 1,\n        \"taker_side\": \"yes\"\n      }\n    }\n  }\n}\n\n---\n\nFull JavaScript Example:\n\nConnect to: wss://api.delphiterminal.co/ws/fex?api_key=YOUR_API_KEY\n\nws.onopen = () => {\n  ws.send(JSON.stringify({\n    action: 'subscribe',\n    market_ids: ['EMCAC_1226_24'],\n    message_types: ['prices', 'trades']\n  }));\n};\n\nws.onmessage = (event) => {\n  const data = JSON.parse(event.data);\n  if (data.type === 'prices') console.log('Price:', data.data);\n  else if (data.type === 'trades') console.log('Trade:', data.data);\n};\n\n---\n\nConnection Details:\n\n| Property | Value |\n|----------|-------|\n| Protocol | WebSocket (wss://) |\n| Keepalive | Ping every 54 seconds |\n| Timeout | 60 seconds without pong |\n| Max Message Size | 16 KB |\n\n---\n\nNotes:\n\n- **Authentication required** via `api_key` query parameter\n- You must use `market_id` (ForecastEx market identifier) to subscribe\n- **No orderbook data available** — ForecastEx uses CSV-based data feeds\n- ForecastEx data is sourced via CSV polling (10-minute intervals)\n- Trades must be explicitly requested (not included in default subscription)\n\n## Example\n\n- Request: `GET /ws/fex?api_key=YOUR_API_KEY`",
        "security": [],
        "responses": {
          "101": {
            "description": "WebSocket connection upgraded successfully"
          }
        }
      }
    },
    "/ws/prdi": {
      "get": {
        "tags": [
          "PredictIt WebSocket"
        ],
        "summary": "PredictIt Real-Time WebSocket",
        "description": "Connect to the PredictIt WebSocket for real-time price updates. PredictIt does not provide orderbook depth or individual trade data.\n\n---\n\nConnection:\n\nConnect to the WebSocket endpoint:\n\nConnect to: wss://api.delphiterminal.co/ws/prdi\n\n---\n\nSubscribing to Markets:\n\nOnce connected, send a JSON message to subscribe to PredictIt data using their `market_id`:\n\n{\n  \"action\": \"subscribe\",\n  \"market_ids\": [\"34256\"],\n  \"message_types\": [\"prices\"]\n}\n\nSubscription Fields:\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| action | string | Yes | `subscribe` or `unsubscribe` |\n| market_ids | array | Yes | Array of PredictIt market identifiers (numeric strings) |\n| message_types | array | No | `[\"prices\"]` only. Defaults to prices if omitted. **No orderbook or trades available.** |\n\n---\n\nUnsubscribing:\n\n{\n  \"action\": \"unsubscribe\",\n  \"market_ids\": [\"34256\"]\n}\n\n---\n\nMessage Types:\n\nPrice Messages:\n\nReal-time price updates for subscribed markets:\n\n{\n  \"type\": \"prices\",\n  \"data\": {\n    \"venue\": \"PRDI\",\n    \"market_id\": \"34256\",\n    \"server_time\": 1774762511552,\n    \"ingest_time\": 1774762511553,\n    \"payload\": {\n      \"type\": \"Ticker\",\n      \"Ticker\": {\n        \"price\": 0.42,\n        \"yes_bid\": 0.41,\n        \"yes_ask\": 0.43,\n        \"volume\": 0,\n        \"open_interest\": 0\n      }\n    }\n  }\n}\n\n---\n\nFull JavaScript Example:\n\nConnect to: wss://api.delphiterminal.co/ws/prdi?api_key=YOUR_API_KEY\n\nws.onopen = () => {\n  ws.send(JSON.stringify({\n    action: 'subscribe',\n    market_ids: ['34256'],\n    message_types: ['prices']\n  }));\n};\n\nws.onmessage = (event) => {\n  const data = JSON.parse(event.data);\n  if (data.type === 'prices') console.log('Price:', data.data);\n};\n\n---\n\nConnection Details:\n\n| Property | Value |\n|----------|-------|\n| Protocol | WebSocket (wss://) |\n| Keepalive | Ping every 54 seconds |\n| Timeout | 60 seconds without pong |\n| Max Message Size | 16 KB |\n\n---\n\nNotes:\n\n- **Authentication required** via `api_key` query parameter\n- You must use `market_id` (PredictIt market identifier) to subscribe\n- **Prices only** — PredictIt does not provide orderbook depth or individual trade history\n- PredictIt data is sourced via REST polling (60-second intervals)\n- Only emits updates when market state changes (last trade price, best bid/ask)\n\n## Example\n\n- Request: `GET /ws/prdi?api_key=YOUR_API_KEY`",
        "security": [],
        "responses": {
          "101": {
            "description": "WebSocket connection upgraded successfully"
          }
        }
      }
    }
  }
}
