<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <main style="display: flex; flex-direction: column; max-width: 40rem; margin: 0 auto;">
    <div style="display: flex; flex-direction: column; flex: 1 0 auto;">
      <header style="text-align: center;">
        <h1><a href="/blog">{{ site.title }} blog</a></h1>
      </header>
      {{ content }}
      {% if page.previous.url %}
        <a href="{{page.previous.url}}" style="float: left">&laquo; {{page.previous.title}}</a>
      {% endif %}
      {% if page.next.url %}
        <a href="{{page.next.url}}" style="float: right">{{page.next.title}} &raquo;</a>
      {% endif %}
      <footer style="bottom: -2rem;">
        <a href="/">Injustices</a>
        |
        <a href="/skill">Skills</a>
        |
        <a href="/statistics">Statistics</a>
        |
        <a href="/blog">Blog</a>
        |
        <a href="https://github.com/Longhorn-Riichi/injusticejudge.com">Github</a>
      </footer>
    </div>
  </main>
  <script type="text/javascript">
  {% include main.js %}
  </script>
</body>
</html>
